/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  /*line-height: 1.15; */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  border: none;
  font-family: "宋体", "微软雅黑", "times new roman", times, sans-serif;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
}
html,
body {
  height: 100%;
  width: 100%;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}
a {
  text-decoration: none;
}
a:link {
  color: #fff;
}
a:visited {
  color: #fff;
}
a:hover {
  color: #fff;
}
a:active {
  color: #fff;
}
input::-ms-clear {
  display: none;
}
input::-ms-reveal {
  display: none;
}
input {
  /*-webkit-appearance: none;*/
  margin: 0;
  outline: none;
  padding: 0;
}
select,textarea,select:focus,textarea:focus{
  outline: none;
}
input::-webkit-input-placeholder {
  color: #ccc;
}
input::-ms-input-placeholder {
  color: #ccc;
}
input::-moz-placeholder {
  color: #ccc;
}
input[type="submit"],
input[type="button"] {
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
img {
  border: none;
}
ul,
ol,
li {
  list-style-type: none;
}
/*公共方法*/
.clear {
  clear: both;
}
.clearleft {
  clear: left;
}
.clearright {
  clear: right;
}
.floatleft {
  float: left;
}
.floatright {
  float: right;
}
.cursor {
  cursor: pointer;
}
/*背景及色值表*/
.bg000 {
  background: #000;
}
.color000 {
  color: #000;
}

/* @viewport {
  width: 100vw; 将视口宽度设为与设备宽度相同
} */
body {
  font-family: "宋体", "微软雅黑", "times new roman", times, sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100vw;
  overflow: auto;
  overflow-x: hidden;
}
a,
a:link,
a:visited {
  color: #006abb;
  text-decoration: none;
}

a:hover,
a:active {
  cursor: pointer;
  color: rgb(240, 20, 20);
  text-decoration: none;
}
button:active {
  margin: 0;
  padding: 0;
}
button:focus {
  outline: none;
}
ul li {
  list-style: none;
}
/* 链接颜色  */
.active a {
  color: rgb(240, 20, 20);
}

/* 导航栏列表颜色 */
.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
  background-color: #e7e6e6;
  border-color: #e7e6e6;
}
/* 模态框 */
/* 保存按钮 */
#Submitbtn {
  font-size: 14px;
  border: none;
  background-color: #e7e6e6;
  padding: 0;
}
/* 模态框 */
#Submission .modal-dialog {
  width: 400px;
  /* border-radius: 2px; */
  margin-top: 80px;
  background-color: #d9e1f2;
  margin-top: 15%;
}

.modal-content {
  border-radius: 0;
  background-color: #d9e1f2;
}
#Submission .tips {
  text-align: left;
  margin-bottom: 10%;
}

#Submission .tips div {
  height: 25px;
  line-height: 25px;
}

.modal-body button {
  width: 50px;
  height: 25px;
  line-height: 20px;
  background-color: #d9e1f2;
  border: none;
  border-radius: 5px;
  /* margin-top: 5%; */
  color: black;
  padding: 0;
  border: 2px solid #006abb;
}

.modal-body #submitted {
  width: 65px;
  margin-bottom: 5%;
  margin-right: 5%;
}

.modal-body #notsubmitted {
  width: 60px;
  margin-left: 5%;
}
/*单选框*/
input[type=radio]{
  background-color: white;
}
/*此处设置清除浮动代码*/
.content:after {
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}
.content {
  zoom: 1;
}

/* 警告 */
.modal-body .warning ,.modal-body .notnull{
  color: red;
  display: none;
  margin-left: 30%;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
}
/* 保存按钮颜色 */
#save,#subtitlesave{
  background-color: white;
}
input{
  padding-left: 2px;
}
/* 添加框 */
.meter{
  width: 30%;
  display: inline-block;
}
/* 添加输入框 */
.modal-body div .class-name,
.modal-body div .class-number{
  width: 50%;
}
/*select高度*/
select{
  height: 21px;
  margin: 0;
  padding: 0;
}
/*输入框高度*/
input{
  height: 21px;
}
/*提示符*/
.modal-body .unquie{
  color: red;
  display: none;
  text-align: left;
  margin-left: 34%;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
}
.modal-body .addguide,.modal-body .addability,.modal-body .addpostgraduate,.modal-body .addoffice,.modal-body .adddepartment{
  margin-right: 5%;
}
.alert{
  border-radius: 0;
}
