/* 基本信息基础布局 */
/* 标题 */
.information-title {
  height: 30px;
  line-height: 30px;
  /* text-align: center; */
  margin-top: 1%;
  margin-left: 37%;
}
/* 年度，保存 */
.year-warp {
  width: 100%;
  height: 25px;
  padding: 0 6%;
  /* background-color: red; */
  margin-top: 1%;
}
.year {
  /* background-color: tan; */
  width: 40%;
  height: 25px;
  padding-left: 5%;
}
.year,
#save {
  float: left;
}
/* 保存按钮 */
#save {
  font-size: 14px;
  border: 2px solid #006abb;
  padding: 0.5px 8px;
  margin-left: 30%;
  /*margin-top: 1%;*/
  border-radius: 5px;
}

/* 信息栏布局 */
.informaction {
  padding: 3% 6%;
  /* background-color: palegoldenrod; */
}

.informaction ul {
  width: 100%;
  height: 160px;
  padding: 0;
  /* background-color: red; */
  margin-bottom: 5%;
}

.informaction ul li {
  width: 40%;
  min-width: 260px;
  height: 40px;
  line-height: 40px;
  float: left;
  padding-left: 5%;
}

/* 输入框缩进 */
.informaction ul li input,
.informaction ul li .teather-name,
.informaction ul li select,
.workload-warp div span,
.year-warp div .teather-name {
  margin-left: 8%;
}

.informaction ul .entry input {
  margin-left: 0;
}

.informaction ul .entry .entry-chose,
.informaction ul .post select {
  margin-left: 4%;
}

/* 姓名输入框 */
.informaction .name {
  width: 50%;
  height: 25px;
}

.informaction ul .entry,
.informaction ul .post {
  width: 100%;
  /* margin-left: 4%; */
}

/* 工作量显示布局 */
.workload-warp {
  width: 100%;
  height: 80px;
  /* background-color: salmon; */
}

.workload-warp div {
  width: 50%;
  height: 40px;
  line-height: 40px;
  float: left;
  padding-left: 5%;
}
/* 模态框 */
.modal-dialog {
  width: 400px;
  /* height: 400px; */
  /* border-radius: 2px; */
  margin-top: 80px;
  background-color: #d9e1f2;
}

.modal-content {
  border-radius: 0;
  background-color: #d9e1f2;
}

/*.modal-header {*/
/*  height: 70px;*/
/*}*/

.modal-header h5 {
  padding: 5% 0;
  padding-bottom: 0;
}

.modal-body {
  height: 40%;
  padding-bottom: 8%;
}

.modal-body div {
  height: 35px;
  line-height: 35px;
  display: block;
  padding-left: 5%;
}

.modal-body div .form-control-1 {
  width: 30%;
  height: 25px;
}

.modal-body div .class-name,
.modal-body div .class-number {
  width: 50%;
}
.modal-body div .class-name{
  margin-left: 28px;
}
/* 添加按钮 */
.btn-add {
  padding: 0;
  text-align: center;
}

.modal-body button {
  width: 50px;
  height: 25px;
  line-height: 20px;
  background-color: #d9e1f2;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
  color: black;
  padding: 0;
  border: 2px solid #006abb;
}

.modal-body #add {
  margin-right: 5%;
}

.modal-body #cancel {
  margin-left: 5%;
}
#change-password{
  width: 100px;
  height: 24px;
  border: none;
  font-size: 15px;
  letter-spacing: 3px;
  background-color: #003E78;
  color: white;
  position: absolute;
  right: 8%;
  top: 18px;
}