/* 基本信息基础布局 */
/* 标题 */
.teaching-title {
  height: 30px;
  line-height: 30px;
  margin-top: 1%;
  margin-left: 37%;
}

.msg-warp {
  width: 100%;
  height: 90%;
  padding: 1% 6%;
}

/* 年份栏 */
.msg {
  height: 30px;
}

.msg span,
.msg select {
  margin-left: 10px;
}

.year {
  width: 20%;
}

.msg div,
.msg button {
  float: left;
}

/* 保存按钮 */
#save {
  font-size: 14px;
  border: 2px solid #006abb;
  padding: 0.5px 8px;
  border-radius: 5px;
  position: absolute;
  right: 7%;
}

.total-workload {
  margin-left: 20%;
}
/* 表格设置 */
.table-wrap {
  width: 100%;
  height: 90%;
  /* overflow: hidden; */
  /* background-color: teal; */
}
/* .table {
  overflow-y: scroll;
} */
/* 模态框 */
.modal-dialog {
  width: 400px;
  /* border-radius: 2px; */
  margin-top: 80px;
  background-color: #d9e1f2;
}

.modal-content {
  border-radius: 0;
  background-color: #d9e1f2;
}

.modal-header {
  height: 70px;
}

.modal-header h5 {
  padding: 5% 0;
}

.modal-body {
  height: 40%;
  padding-bottom: 8%;
}

.modal-body div {
  height: 35px;
  line-height: 35px;
  display: block;
  padding-left: 5%;
}

.modal-body div .form-control-1 {
  width: 30%;
  height: 25px;
}

.modal-body div .class-name,
.modal-body div .class-number {
  width: 70%;
}

/* 添加按钮 */
.btn-add {
  padding: 0;
  text-align: center;
}

.modal-body button {
  width: 50px;
  height: 25px;
  line-height: 20px;
  background-color: #d9e1f2;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
  color: black;
  padding: 0;
  border: 2px solid #006abb;
}

.modal-body #add {
  margin-right: 5%;
}

.modal-body #cancel {
  margin-left: 5%;
}
