/* 基本信息基础布局 */
.knowledge-contest {
  font-size: 14px;
  width: 80%;
  text-align: left;
  position: absolute;
  top: 11%;
  right: 0;
}

/* 标题 */
.teaching-title {
  height: 30px;
  line-height: 30px;
  /* text-align: center; */
  margin-top: 1%;
  margin-left: 37%;
}

.msg-warp {
  width: 100%;
  padding: 1% 6%;
}

/* 年份栏 */
.msg {
  height: 30px;
}

.year {
  width: 25%;
}

.msg div,
.msg button {
  float: left;
}
.msg div span {
  margin-left: 10px;
}
.total-workload {
  margin-left: 10%;
}
/* 小标题栏 */
.msgs {
  height: 25px;
}

.subtitle {
  width: 25%;
  min-width: 204px;
  /* padding-left: 5%; */
}

.msgs div,
.msgs button {
  float: left;
}

/* 保存按钮 */
#save {
  /* height: 20px;
    line-height: 20px; */
  font-size: 14px;
  border: 2px solid #006abb;
  padding: 0.5px 8px;
  border-radius: 5px;
  position: absolute;
  right: 7%;
}
#subtitlesave{
  font-size: 14px;
  border: 2px solid #006abb;
  padding: 0.5px 8px;
  border-radius: 5px;
  position: absolute;
  left: 75%;
}
.workload {
  margin-left: 0%;
}
/* 优秀论文数 */
.excellentpaper {
  width: 40%;
  min-width: 300px;
  height: 28px;
  float: left;
}
.excellentpaper input,
.workload span {
  margin-left: 10px;
}
.excellentpaper input{
  height: 20px;
}
/* 表格宽度 */
/* .table tbody tr th:nth-child(2){
  width: 20%;
} */
/* 模态框 */
.modal-dialog {
  width: 400px;
  /* border-radius: 2px; */
  margin-top: 80px;
  background-color: #d9e1f2;
}

.modal-content {
  border-radius: 0;
  background-color: #d9e1f2;
}

.modal-header {
  height: 70px;
}

.modal-header h5 {
  padding: 5% 0;
}

.modal-body {
  height: 40%;
  padding-bottom: 8%;
}

.modal-body div {
  height: 35px;
  line-height: 35px;
  display: block;
  padding-left: 5%;
}

.modal-body div .form-control-1 {
  /* width: 30%; */
  height: 25px;
}

.modal-body div .class-name,
.modal-body div .class-number {
  width: 70%;
}

/* 添加按钮 */
.btn-add {
  padding: 0;
  text-align: center;
}

.modal-body button {
  width: 50px;
  height: 25px;
  line-height: 20px;
  background-color: #d9e1f2;
  border: none;
  border-radius: 5px;
  margin-top: 5%;
  color: black;
  padding: 0;
  border: 2px solid #006abb;
}

.modal-body #add {
  margin-right: 5%;
}

.modal-body #cancel {
  margin-left: 5%;
}
