/* 基本信息基础布局 */
/* 标题 */
.teaching-title {
  height: 30px;
  line-height: 30px;
  /* text-align: center; */
  margin-top: 1%;
  margin-left: 37%;
}
.msg-warp {
  width: 100%;
  padding: 3% 6%;
  /* background-color: grey; */
}
/* 年份栏 */
.msg {
  height: 30px;
  min-width: 700px;
  /* line-height: 30px; */
}
.year {
  width: 30%;
  margin-left: 5%;
}
.total-workload {
  margin-left: 5%;
}
.msg div,
.msg button {
  float: left;
}
/* 保存按钮 */
#save {
  /* height: 20px;
    line-height: 20px; */
  font-size: 14px;
  border: 2px solid #006abb;
  padding: 0.5px 8px;
  border-radius: 5px;
  margin-left: 19%;
}
.total-workload {
  margin-left: 5%;
}
/* 工作栏列表 */
.job-category{
  min-width: 700px;
}
.job-category ul {
  width: 100%;
  min-width: 500px;
  margin: 0;
  padding: 0;
}
/* 表单布局 */
.job-category ul li {
  width: 35%;
  min-width: 250px;
  height: 35px;
  line-height: 30px;
  float: left;
  padding-left: 5%;
}
.job-category ul .workload-display {
  width: 50%;
  min-width: 250px;
}
.job-category ul .indent {
  width: 30%;
  padding-left: 10%;
  min-width: 250px;
}
.job-category ul .indents {
  /*width: 40%;*/
  min-width: 300px;
}
.job-category ul .filling {
  width: 60%;
  min-width: 250px;
  padding: 0;
  padding-left: 2%;
}
.job-category ul .new-line {
  width: 100%;
}
/* 输入框宽度设置 */
.job-category ul li input {
  width: 105px;
  height: 21px;
}
.job-category ul .managements {
  width: 50%;
  min-width: 400px;
}
.job-category ul li .management{
  width: 200px;
}

.job-category ul  .laboratoryworkloads {
  min-width: 300px;
}
/* 表单与文字部分距离 */
.job-category ul li select,
.job-category ul li input,
.prompt {
  margin-left: 10px;
}
