<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
>
<!--<![endif]-->

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 引用bootstrap及基础样式 -->
    <script src="js/link.js"></script>
    <link rel="stylesheet" type="text/css" href="css/basicinformation.css" />
</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <!-- 头部 -->
    <div class="toptitle">
        <span id="title">湖北师范大学教学工作量统计系统</span>
    </div>
    <!-- 左边导航栏 -->
    <div class="main">
        <div class="navbar">
            <div class="navwarp">
                <div class="basic-information active">
                    <a th:href="@{basicinformation}">教师本年度基本信息</a>
                </div>
                <!-- 本科生 -->
                <div id="bachelor">本科生</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a th:href="@{/classroomteaching}" >课堂教学</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/practiceteh}">实践教学</a>
                    </li>
                    <li class="list-group-item"><a th:href="@{/qualityengineering}">质量工程建设</a></li>
                    <li class="list-group-item"><a th:href="@{/teachingresearch}">教学研究</a></li>
                    <li class="list-group-item"><a th:href="@{/know}">教学知识竞赛</a></li>
                    <li class="list-group-item"><a th:href="@{/other}">其它教育教学活动</a></li>
                </ul>
                <!-- 研究生 -->
                <div id="postgraduate">研究生</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="graduateclass.html">课堂教学</a></li>
                    <li class="list-group-item"><a href="graduatepractice.html">实践教学</a></li>
                    <li class="list-group-item"><a href="graduateconstruction.html">教学基本建设与学科建设</a></li>
                    <li class="list-group-item"><a href="graduateprogram.html">教学研究项目</a></li>
                    <li class="list-group-item active"><a href="graduateaward.html">指导研究生竞赛获奖</a></li>
                    <li class="list-group-item"><a href="graduateother.html">其它工作</a></li>
                </ul>
                <div>
                    <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="tips">
                            <div>提示：</div>
                            <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
                        </div>
                        <div class="btn-submitted">
                            <button type="button" id="submitted">继续提交</button>
                            <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 教师本年度基本信息 -->
    <!-- 教师本年度基本信息编辑栏 -->
    <div class="basicinformation">
        <div class="information-title">教师本年度基本信息</div>
        <form th:action="@{/updateBasisInfo}" method="post" th:object="${jbxxAccpet}">
        <!-- 保存按钮 -->
            <div class="year-warp">
                <div class="year"><span class="passwordtip" style="letter-spacing: 30px;">年</span>度<span class="teather-name" th:text="${Nd}"></span></div>
                <button type="submit" id="save">保存</button>
            </div>
            <div>
                <input hidden th:name="gh" th:value="${user.gh}">
            </div>

        <div class="informaction">
            <!-- 表单信息 -->
            <ul>
                <li>
                    <span class="passwordtip" style="letter-spacing: 30px;">姓</span>名:<span
                        class="teather-name" th:text="${user.uname}"></span>
                </li>

                <li class="ul-right">
                        院系:<select th:name="yxbm">
                            <div th:if="${basisInfo!=null && basisInfo.yxbm!=null}">
                                <option th:each="yxmcType:${yxType}" th:selected="${yxmcType.yxbm}==${basisInfo.yxbm.yxbm}"
                                        th:value="${yxmcType.yxbm}" th:text="${yxmcType.yxmc}" th:name="yxbm">
                                </option>
                            </div>
                            <div th:unless="${basisInfo!=null && basisInfo.yxbm!=null}">
                                <option th:each="yxmcType:${yxType}" th:value="${yxmcType.yxbm}" th:text="${yxmcType.yxmc}" th:name="yxbm">
                                </option>
                            </div>
                        </select>
                </li>
                <li>
                    <span class="passwordtip" style="letter-spacing: 30px;">
                        职</span>务:
                        <select th:name="zwbm">
                            <div th:if="${basisInfo!=null && basisInfo.zwbm!=null}">
                                <option th:each="zwbmType:${zwType}" th:selected="${zwbmType.zwbm}==${basisInfo.zwbm.zwbm}"
                                        th:value="${zwbmType.zwbm}" th:text="${zwbmType.zwmc}" th:name="zwbm">
                                </option>
                            </div>
                            <div th:unless="${basisInfo!=null && basisInfo.zwbm!=null}">
                                <option th:each="zwbmType:${zwType}" th:value="${zwbmType.zwbm}" th:text="${zwbmType.zwmc}" th:name="zwbm">
                                </option>
                            </div>

                        </select>
                </li>
                <li class="ul-right">
                        职称:<select name="zcbm">
                        <div th:if="${basisInfo!=null && basisInfo.zcbm!=null}">
                            <option th:each="zcbmType:${zcType}" th:selected="${zcbmType.zcbm}==${basisInfo.zcbm.zcbm}"
                                    th:value="${zcbmType.zcbm}" th:text="${zcbmType.zcmc}" th:name="zcbm">
                            </option>
                        </div>
                        <div th:unless="${basisInfo!=null && basisInfo.zcbm!=null}">
                        <option th:each="zcbmType:${zcType}" th:value="${zcbmType.zcbm}" th:text="${zcbmType.zcmc}" th:name="zcbm">
                        </option>
                        </div>
                </select>
                </li>
                <li class="post">
                        岗位类型:<select name="gwlxbm">
                    <div th:if="${basisInfo!=null && basisInfo.gwlxbm!=null}">
                        <option th:each="gwlxbmType:${gwlxType}" th:selected="${gwlxbmType.gwlxbm}==${basisInfo.gwlxbm.gwlxbm}"
                                th:value="${gwlxbmType.gwlxbm}" th:text="${gwlxbmType.gwlxmc}" th:name="gwlxbm"></option>
                    </div>
                    <div th:unless="${basisInfo!=null && basisInfo.gwlxbm!=null}">
                        <option th:each="gwlxbmType:${gwlxType}" th:value="${gwlxbmType.gwlxbm}" th:text="${gwlxbmType.gwlxmc}" th:name="gwlxbm"></option>
                    </div>
                </select>

                </li>
                <li class="entry">
                    <div th:name="sfxrz">
                        是否新入职:
                        <span th:if="${basisInfo!=null && basisInfo.sfxrz!=null}">
                            <input type="radio" th:name="sfxrz" th:value="${0}" class="entry-chose"th:checked="${basisInfo.sfxrz}==0" />是
                            <input type="radio" th:name="sfxrz" th:value="${1}" th:checked="${basisInfo.sfxrz}==1"/>否
                        </span>
                        <span th:unless="${basisInfo!=null && basisInfo.sfxrz!=null}">
                            <input type="radio" th:name="sfxrz" th:value="${0}" class="entry-chose" />是
                            <input type="radio" th:name="sfxrz" th:value="${1}" checked="checked"/>否
                        </span>
                    </div>
                </li>
            </ul>
            <!-- 工作量信息显示 -->
            <div class="workload-warp">
                <div id="ratedworkload">教学额定工作量:
                    <span th:if="${basisInfo!=null && basisInfo.edgzl!=null}">
                        <span th:text="${basisInfo.edgzl}"></span>
                    </span>
                </div>
                <div id="actualworkload">实际总工作量:<span></span></div>
                <div id="minimumworkload">本科生授课最低工作量:
                    <span th:if="${basisInfo!=null && basisInfo.bkszdsk!=null}">
                        <span th:text="${basisInfo.bkszdsk}"></span>
                    </span>
                </div>
                <div id="undergraduateworkload">其中：本科生教学工作量:<span></span>
                </div>
            </div>
        </div>
        </form>
    </div>
    <script src="" async defer></script>
</body>

</html>