<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引用bootstrap及基础样式 -->
    <script src="js/link.js"></script>
    <link rel="stylesheet" href="css/classroomteaching.css">

</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 头部 -->
    <script src="js/titleandnav.js"></script>
    <!-- 左边导航栏 -->
    <div class="main">
        <div class="navbar">
            <div class="navwarp">
                <div class="basic-information">
                    <a th:href="@{/basicinformation}">教师本年度基本信息</a>
                </div>
                <!-- 本科生 -->
                <div id="bachelor">本科生</div>
                <ul class="list-group">
                    <li class="list-group-item active">
                        <a th:href="@{/classroomteaching}">课堂教学</a>
                    </li>
                    <li class="list-group-item">
                        <a href="/practiceteh">实践教学</a>
                    </li>
                    <li class="list-group-item"><a href="qualityengineering.html">质量工程建设</a></li>
                    <li class="list-group-item"><a href="teachingresearch.html">教学研究</a></li>
                    <li class="list-group-item"><a th:href="@{/know}">教学知识竞赛</a></li>
                    <li class="list-group-item"><a th:href="@{/other}">其它教育教学活动</a></li>
                </ul>
                <!-- 研究生 -->
                <div id="postgraduate">研究生</div>
                <ul class="list-group">
                    <li class="list-group-item">课堂教学</li>
                    <li class="list-group-item">实践教学</li>
                    <li class="list-group-item">教学基本建设与学科建设</li>
                    <li class="list-group-item">教学研究项目</li>
                    <li class="list-group-item">指导研究生竞赛获奖</li>
                    <li class="list-group-item">其它工作</li>
                </ul>
                <!-- 提交按钮 -->
                <div>
                    <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
                </div>
            </div>
        </div>
        <!-- 模态框-是否提交 -->
        <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="tips">
                            <div>提示：</div>
                            <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
                        </div>
                        <div class="btn-submitted">
                            <button type="button" id="submitted">继续提交</button>
                            <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 课堂教学部分 -->
    <div class="classroom-teaching">
        <!-- 标题 -->
        <div class="teaching-title">本科生课堂教学工作量</div>
        <div class="msg-warp">
            <!-- 提示信息栏 -->
            <div class="msg">
                <div class="year">年度<span th:text="${year}"></span></div>

                <div class="total-workload">课堂教学工作量总计<span>sss</span></div>
                <!-- 模态框-添加按钮 -->
                <button type="button" id="save" data-toggle="modal" data-target="#myModal">
                    添加
                </button>
            </div>
            <!-- 模态框（Modal）登陆界面 -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <!-- 模态框头部 -->
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                                课堂教学新增页面
                            </h5>
                        </div>
                        <!-- 添加课程内容 -->
                        <div class="modal-body">
                            <form th:action="@{/addClassInfo}" method="post">

                                <div>
                                    学期：<select th:name="xq" class="form-control-1">
                                    <option th:name="xq" th:value="${1}">1</option>
                                    <option th:name="xq" th:value="${2}">2</option>
                                </select>
                                </div>
                                <div>
                                    课程名称：<input type="text" th:name="kcmc" class="form-control-1 class-name"/>
                                </div>
                                <div>
                                    课程类型：<select th:name="ktlxbm" class="form-control-1">
                                        <option th:name="ktlxbm" th:each="ktlxType:${ktlx}" th:value="${ktlxType.ktlxbm}"
                                                th:text="${ktlxType.ktlxmc}"
                                        ></option>
                                    </select>
                                </div>
                                <div>
                                    授课班级：<input type="text" th:name="skbj" class="form-control-1 class-number" placeholder="请输入用户名" />
                                </div>
                                <div th:name="sfsy">
                                    是否双语教学：<input type="radio" th:name="sfsy" th:value="${1}" class="entry-chose" />是
                                    <input type="radio" th:name="sfsy" th:value="${0}" checked="checked" />否

                                </div>
                                <div th:name="jhxs">
                                    计划学时：<input type="text" th:name="jhxs" class="form-control-1" />
                                </div>
                                <div th:name="skrs">
                                    上课人数：<input type="text" th:name="skrs" class="form-control-1" />
                                </div>
                                <div class="btn-add">
                                    <button type="submit" id="add">添加</button>
                                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-wrap">
                <!-- 表格数据 -->
                <!--文章列表-->
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>学期</th>
                            <th>课程名称</th>
                            <th>课程类型</th>
                            <th>授课班级</th>
                            <th>双语教学</th>
                            <th>计划学时</th>
                            <th>上课人数</th>
                            <th>教学工作量</th>
                            <th colspan="2">操作</th>
                        </tr>
                    </thead>
                    <tbody class="tbody" id="tbody">
                        <tr th:each="bks : ${bksktjx}">
                            <form th:action="@{/deleteClassInfo}" method="post">
                                <div>
                                    <input hidden th:name="bksktjx" th:value="${bks.bksktjx}">
                                </div>
                                <td th:text="${bks.xq}"></td>
                                <td th:text="${bks.kcmc}"></td>
                                <td th:text="${bks.kclx.ktlxmc}"></td>
                                <td th:text="${bks.skbj}"></td>
                                <td th:text="${bks.sfsy==1?'是':'否'}"></td>
                                <td th:text="${bks.jhxs}"></td>
                                <td th:text="${bks.skrs}"></td>
                                <td th:text="${bks.jxgzl}"></td>
                                <td><button type="submit"  class="delete">删 除</button></td>
                            </form>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="" async defer></script>

</body>

</html>