<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引用bootstrap及基础样式 -->
    <script src="js/link.js"></script>
    <link rel="stylesheet" href="css/teachingresearch.css">
    <!-- 编辑表格脚本 -->
    <script src="js/edittable.js"></script>
    <link rel="stylesheet" href="css/tablestyle.css" />
    <!--    输入框验证-->
    <script src="js/classroomteaching.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 头部 -->
    <script src="js/titleandnav.js"></script>
    <!-- 左边导航栏 -->
    <div class="main">
        <div class="navbar" id="navwarp">
            <div class="navwarp">
                <div class="basic-information">
                    <a th:href="@{/basicinformation}">教师本年度基本信息</a>
                </div>
                <!-- 本科生 -->
                <div id="bachelor">本科生</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a th:href="@{/classroomteaching}" >课堂教学</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/practiceteh}">实践教学</a>
                    </li>
                    <li class="list-group-item"><a th:href="@{/qualityengineering}">质量工程建设</a></li>
                    <li class="list-group-item"><a th:href="@{/teachingresearch}">教学研究</a></li>
                    <li class="list-group-item"><a th:href="@{/know}">教学知识竞赛</a></li>
                    <li class="list-group-item"><a th:href="@{/other}">其它教育教学活动</a></li>
                </ul>
                <!-- 研究生 -->
                <div id="postgraduate">研究生</div>
                <ul class="list-group">
                    <li class="list-group-item"><a th:href="@{/graduateclass}">课堂教学</a></li>
                    <li class="list-group-item"><a th:href="@{/graduatepractice}">实践教学</a></li>
                    <li class="list-group-item"><a th:href="@{/graduateconstruction}">教学基本建设与学科建设</a></li>
                    <li class="list-group-item active"><a th:href="@{/graduateprogram}">教学研究项目</a></li>
                    <li class="list-group-item"><a th:href="@{/masterKnow}">指导研究生竞赛获奖</a></li>
                    <li class="list-group-item"><a th:href="@{/masterOther}">其它工作</a></li>
                </ul>
                <div>
                    <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="tips">
                            <div>提示：</div>
                            <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
                        </div>
                        <div class="btn-submitted">
                            <a th:href="@{/submit}"><button type="button" id="submitted">继续提交</button></a>
                            <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 教学研究部分 -->
    <div class="informationwarp" id="informationwarp">
        <!-- 标题 -->
        <div class="teaching-title">教学研究项目工作量</div>
        <div class="msg-warp">
            <!-- 提示信息栏 -->
            <div class="msg">
                <div class="year">年度<span th:text="${year}"></span></div>
                <div class="total-workload">教学研究工作量总计<span th:text="${jyxmGzl+hxxmGzl}"></span></div>
            </div>
            <div>
                <!-- 表格数据 -->
                <!-- 指导学生竞赛-提示信息栏 -->
                <div class="msgs">
                    <div class="subtitle">学科与研究生教育项目</div>
                    <div class="workload">工作量小计<span th:text="${jyxmGzl}"></span></div>
                    <button type="button" id="save" data-toggle="modal" data-target="#guideStudents">添加</button>
                </div>
                <!-- 模态框（Modal）登陆界面 -->
                <div class="modal fade" id="guideStudents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                                    学科与研究生教育项目新增
                                </h5>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/addYjsjyxm}" method="post">
                                    <div>
                                        项目名称：<input type="text" class="form-control-1 class-name form-control-jub" th:name="xmmc"/>
                                    </div>
                                    <div class="warning">项目名称不能为空！</div>
                                    <div>
                                        项目等级：<select  th:name="xmdjbm" class="form-control-1">
                                            <option th:text="国家级" th:value="1"></option>
                                            <option th:text="省级" th:value="2"></option>
                                        </select>
                                    </div>
                                    <div>
                                        项目排名：<input type="text" class="form-control-1 class-number form-control-jub timenum" th:name="xmpm"/>
                                    </div>
                                    <div class="warning">项目排名不能为空！</div>
                                    <div>
                                        项目总人数：<input type="text" class="form-control-1 class-number form-control-jub timenum" th:name="zrs"/>
                                    </div>
                                    <div class="warning">项目总人数不能为空！</div>
                                    <div class="btn-add">
                                        <button type="submit" class="add">添加</button>
                                        <button type="button" class="cancel" data-dismiss="modal">取消</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 表格数据 -->
                <!-- 表格数据 -->
                <table class="table table-bordered edtitable">
                    <thead>
                        <tr>
                            <td>项目名称</td>
                            <td>项目等级</td>
                            <td>项目排名</td>
                            <td>项目总人数</td>
                            <td>工作量</td>
                            <td colspan="2">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="yjsjyxm:${yjsjyxms}">
                            <td th:text="${yjsjyxm.xmmc}"></td>
                            <td class="notedit" th:switch="${yjsjyxm.xmdjbm}">
                            <span th:case="1">国家级</span>
                            <span th:case="2">省级</span>
                            </td>
                            <td th:text="${yjsjyxm.xmpm}"></td>
                            <td th:text="${yjsjyxm.zrs}"></td>
                            <td class="notedit" th:text="${yjsjyxm.gzl}"></td>
                            <!--<td class="notedit"><a class="modify" data-toggle="modal" data-target="#achievementsModal">修-->
                                    <!--改</a></td>-->
                            <!-- 删除按钮 -->
                            <td class="del-col notedit">
                                <a th:href="@{/delYjsjyxm(id=${yjsjyxm.jyxmid})}" class="delBtn">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- 研究生横向项目项目-提示信息栏 -->
                <div class="msgs">
                    <div class="subtitle">研究生横向项目项目</div>
                    <div class="workload">工作量小计<span th:text="${hxxmGzl}"></span></div>
                    <button type="button" id="save" data-toggle="modal" data-target="#verticalTeaching">添加</button>
                </div>
                <!-- 模态框（Modal）研究生横向项目项目界面 -->
                <div class="modal fade" id="verticalTeaching" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                                    研究生横向项目项目新增
                                </h5>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/addYjshxxm}" method="post">
                                    <div>
                                        项目名称：<input type="text" class="form-control-1 class-name form-control-jub" placeholder="" th:name="xmmc"/>
                                    </div>
                                    <div class="warning">项目名称不能为空！</div>
                                    <div>
                                        到账经费：<input type="text" class="form-control-1 class-number form-control-jub" placeholder="" th:name="dzjf"/>
                                    </div>
                                    <div class="warning">到账经费不能为空！</div>
                                    <div>
                                        项目排名：<input type="text" class="form-control-1 class-number form-control-jub timenum" placeholder="" th:name="xmpm" />
                                    </div>
                                    <div class="warning">项目排名不能为空！</div>
                                    <div>
                                        项目总人数：<input type="text" class="form-control-1 class-number form-control-jub timenum" placeholder="" th:name="zrs"/>
                                    </div>
                                    <div class="warning">项目总人数不能为空！</div>
                                    <div class="btn-add">
                                        <button type="submit" id="add" class="add">添加</button>
                                        <button type="button" class="cancel" data-dismiss="modal">取消</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 表格数据 -->
                <table class="table table-bordered edtitable">
                    <thead>
                        <tr>
                            <td>项目名称</td>
                            <td>到账经费</td>
                            <td>项目排名</td>
                            <td>项目总人数</td>
                            <td>工作量</td>
                            <td colspan="2">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="yjshxxm:${yjshxxms}">
                            <td th:text="${yjshxxm.xmmc}"></td>
                            <td class="notedit" th:text="${yjshxxm.dzjf}"></td>
                            <td th:text="${yjshxxm.xmpm}"></td>
                            <td th:text="${yjshxxm.zrs}"></td>
                            <td class="notedit" th:text="${yjshxxm.gzl}"></td>
                            <!--<td class="notedit"><a class="modify" data-toggle="modal" data-target="#portraitModal">修-->
                                    <!--改</a></td>-->
                            <!-- 删除按钮 -->
                            <td class="del-col noedit">
                                <a th:href="@{/delYjshxxm(id=${yjshxxm.hxxmid})}" class="delBtn">删除</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- 模态框（Modal）研究生横向项目项目界面 -->
                <div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                                    研究生横向项目项目新增
                                </h5>
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <div>
                                        项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                                    </div>
                                    <div>
                                        到账经费：<select name="competitionform" class="form-control-1">
                                            <option value="lecture">讲课</option>
                                            <option value="Courseware">课件</option>
                                            <option value="microlesson">微课</option>
                                        </select>
                                    </div>
                                    <div>
                                        项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                                    </div>
                                    <div>
                                        项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                                    </div>
                                    <div class="btn-add">
                                        <button type="button" id="add">添加</button>
                                        <button type="button" id="cancel" data-dismiss="modal">取消</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <script src="" async defer></script>
</body>

</html>