<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;user-scalable=no"
        name="viewport" />
    <meta content="user-scalable=no" name="viewport" />
    <!-- 加载bootstrap -->
    <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <script src='https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <!--    加载jq-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- 引用bootstrap及基础样式 -->
    <script src="js/link.js"></script>
    <link rel="stylesheet" href="css/practicalteaching.css">
    <!--    输入框验证-->
    <script src="js/classroomteaching.js"></script>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 头部 -->
    <script src="js/titleandnav.js"></script>
    <!-- 左边导航栏 -->
    <div class="main">
        <div class="navbar" id="navwrap">
            <div class="navwarp">
                <div class="basic-information">
                    <a th:href="@{/basicinformation}">教师本年度基本信息</a>
                </div>
                <!-- 本科生 -->
                <div id="bachelor">本科生</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a th:href="@{/classroomteaching}" >课堂教学</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/practiceteh}">实践教学</a>
                    </li>
                    <li class="list-group-item"><a th:href="@{/qualityengineering}">质量工程建设</a></li>
                    <li class="list-group-item"><a th:href="@{/teachingresearch}">教学研究</a></li>
                    <li class="list-group-item"><a th:href="@{/know}">教学竞赛获奖</a></li>
                    <li class="list-group-item"><a th:href="@{/other}">其它教育教学活动</a></li>
                </ul>
                <!-- 研究生 -->
                <div id="postgraduate">研究生</div>
                <ul class="list-group">
                    <li class="list-group-item"><a th:href="@{/graduateclass}">课堂教学</a></li>
                    <li class="list-group-item active"><a th:href="@{/graduatepractice}">实践教学</a></li>
                    <li class="list-group-item"><a th:href="@{/graduateconstruction}">教学基本建设与学科建设</a></li>
                    <li class="list-group-item"><a th:href="@{/graduateprogram}">教学研究项目</a></li>
                    <li class="list-group-item"><a th:href="@{/masterKnow}">指导研究生竞赛获奖</a></li>
                    <li class="list-group-item"><a th:href="@{/masterOther}">其它工作</a></li>
                </ul>
                <!-- 提交按钮 -->
                <div>
                    <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
                </div>
            </div>
        </div>
        <!-- 模态框-是否提交 -->
        <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="tips">
                            <div>提示：</div>
                            <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
                        </div>
                        <div class="btn-submitted">
                            <a th:href="@{/submit}"><button type="button" id="submitted">继续提交</button></a>
                            <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 实践教学部分 -->
    <div class="informationwarp" id="informationwarp">
        <form th:action="@{/updateYjssjjxInfo}" method="post">
        <!-- 标题 -->
        <div class="teaching-title">研究生实践教学工作量</div>
        <div class="msg-warp">
            <!-- 提示信息栏 -->
            <div class="msg">
                <div class="year">年度<span class="prompt">2019</span></div>
                <div class="total-workload">实践教学工作量总计<span class="prompt" th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.gzl!=null}"><span th:text="${yjssjjxJbxx.gzl}"></span></span></div>
                <button type="submit" id="save"  style="margin-left: 19%;">保存</button>
            </div>
            <!-- 具体工作类别及数目 -->
            <div class="job-category">
                <ul>
                    <li class="tips">1.实践教学指导</li>
                    <li class="tips workload-display">工作量小计<span class="prompt" th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.rcgzl!=null}"><span th:text="${yjssjjxJbxx.rcgzl}"></span></span></li>
                    <li class="description indents">
                        实习类型
                        <span th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.sjlxbm1!=null}">
                            <select name="internshiptype" th:name="sjlxbm1">
                                <option th:each="lxType : ${yjssjlx}" th:name="sjlxbm1" th:value="${lxType.yjssxlxbm}"
                                        th:text="${lxType.yjssxlxmc}" th:selected="${yjssjjxJbxx.sjlxbm1==lxType.yjssxlxbm}"
                                ></option>
                            </select>
                        </span>
                        <span th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.sjlxbm1!=null}">
                            <select name="internshiptype" th:name="sjlxbm1">
                                <option th:each="lxType : ${yjssjlx}" th:name="sjlxbm1"
                                        th:value="${lxType.yjssxlxbm}" th:text="${lxType.yjssxlxmc}"
                                ></option>
                            </select>
                        </span>
                    </li>
                    <li class="description filling">
                        实习天数<input th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.sjts1!=null}" th:name="sjts1" th:value="${yjssjjxJbxx.sjts1}" id="day" class="day timenum" placeholder="" />
                        <input th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.sjts1!=null}" th:name="sjts1" th:value="0" id="day" class="day timenum" placeholder="" />
                    </li>
                    <li class="description indents">
                        实习类型<span th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.sjlxbm2!=null}">
                            <select name="internshiptype" th:name="sjlxbm2" >
                                <option th:each="lxType : ${yjssjlx}" th:name="sjlxbm2" th:value="${lxType.yjssxlxbm}"
                                        th:text="${lxType.yjssxlxmc}" th:selected="${yjssjjxJbxx.sjlxbm2==lxType.yjssxlxbm}"
                                ></option>
                            </select>
                        </span>
                        <span th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.sjlxbm2!=null}">
                            <select name="internshiptype" th:name="sjlxbm2">
                                <option th:each="lxType : ${yjssjlx}" th:name="sjlxbm2"
                                        th:value="${lxType.yjssxlxbm}" th:text="${lxType.yjssxlxmc}"
                                ></option>
                            </select>
                        </span>
                    </li>
                    <li class="description filling">
                        实习天数<input th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.sjts2!=null}" th:name="sjts2" th:value="${yjssjjxJbxx.sjts2}" type="text" id="day" class="day timenum" placeholder="" />
                        <input th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.sjts2!=null}" th:name="sjts2" th:value="0"type="text" id="day" class="day timenum" placeholder="" />
                    </li>
                    <li class="description indents">
                        实习类型<span th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.sjlxbm3!=null}">
                            <select name="internshiptype" th:name="sjlxbm3" >
                                <option th:each="lxType : ${yjssjlx}" th:name="sjlxbm3" th:value="${lxType.yjssxlxbm}"
                                        th:text="${lxType.yjssxlxmc}" th:selected="${yjssjjxJbxx.sjlxbm3==lxType.yjssxlxbm}"
                                ></option>
                            </select>
                        </span>
                        <span th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.sjlxbm3!=null}">
                            <select name="internshiptype" th:name="sjlxbm3">
                                <option th:each="lxType : ${yjssjlx}" th:name="sjlxbm3"
                                        th:value="${lxType.yjssxlxbm}" th:text="${lxType.yjssxlxmc}"
                                ></option>
                            </select>
                        </span>
                    </li>
                    <li class="description filling">
                        实习天数<input th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.sjts3!=null}" th:name="sjts3" th:value="${yjssjjxJbxx.sjts3}" type="text" id="day" class="day timenum" placeholder="" />
                        <input th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.sjts3!=null}" th:name="sjts3"th:value="0" type="text" id="day" class="day timenum" placeholder="" />
                    </li>
                    <div style="width: 100%;">
                    <li class="tips">2.指导研究生的学术（论坛）活动</li>
                    <li class="tips workload-display">工作量小计<span class="prompt" th:text="${zdxshdcsGzl!=null}?${zdxshdcsGzl}:0.0"></span></li>
                    </div>
                        <li class="description new-line indent">
                        指导次数<input th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.zdxshdcs!=null}" th:name="zdxshdcs" th:value="${yjssjjxJbxx.zdxshdcs}" type="text" id="student-num" class="student-num timenum" placeholder="" />
                        <input th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.zdxshdcs!=null}" th:name="zdxshdcs" type="text" th:value="0"id="student-num" class="student-num timenum" placeholder="" />
                    </li>
                    <li class="tips" style="width: 60%;">3.导师指导研究生日常工作</li>
                    <div style="width:100%;min-width: 600px;">
                    <li class="description indent managements" style="width: 60%;">
                        <table style="width: 100%;min-width: 300px">
                            <tbody>
                            <tr>
                                <td valign="top" style="width:5%;min-width: 100px">日常工作说明</td>
                                <td th:name="rcgzsm"><textarea th:if="${yjssjjxJbxx!=null && yjssjjxJbxx.rcgzsm!=null}" th:name="rcgzsm" th:text="${yjssjjxJbxx.rcgzsm}" rows="4" cols="35" style="width: 95%;height: 100%;"></textarea>
                                    <textarea th:unless="${yjssjjxJbxx!=null && yjssjjxJbxx.rcgzsm!=null}" th:name="rcgzsm"  rows="4" cols="35" style="width: 95%;height: 100%;"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </li>
                    <li class="description laboratoryworkloads" style="padding-left:0;width: 30%;min-width: 170px">
                        工作量<input th:name="gzl" type="text"  th:value="${ZtGzl!=null}?${ZtGzl}:0.0" id="laboratory-workload" class="laboratory-workload" placeholder="请输入" />
                        <div>计算方法说明：<br>研一：20分/人/学期<br>研二：30分/人/学期<br>研二：50分/人/学期</div>
                    </li>
                    </div>
                </ul>
            </div>
        </div>
        </form>
    </div>
    <script src="" async defer></script>
</body>

</html>