<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 加载bootstrap -->
    <link rel='stylesheet' href='https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css' />
    <script src='https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js'></script>
    <script src='https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js'></script>
    <!--    加载jq-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- 引用bootstrap及基础样式 -->
    <script src="js/link.js"></script>
    <link rel="stylesheet" href="css/tablestyle.css" />
    <link rel="stylesheet" href="css/knowledgecontest.css" />
    <!--    输入框-->
    <script src="js/classroomteaching.js"></script>
    <!--<script src="../../js/jquery-3.1.1.min.js" th:src="@{/js/jquery-3.1.1.min.js}"></script>-->
    <script src="../../js/jquery.js" th:src="@{/js/jquery.js}"></script>
<!--    添加样式-->
    <script src="js/ward.js"></script>

<!--    <script>-->
<!--        function addContest() {-->
<!--            var contestName = $("#contestName").val();-->
<!--            var competition = $("#competition").val();-->
<!--            var contestLevel = $("#contestLevel").val();-->
<!--            var studentNum = $("#studentNum").val();-->
<!--            $.ajax({-->
<!--                type: 'POST',-->
<!--                url: "/addCompetition",-->
<!--                data:{-->
<!--                    contestName: contestName,-->
<!--                    competition: competition,-->
<!--                    contestLevel: contestLevel,-->
<!--                    studentNum: studentNum-->
<!--                },-->
<!--                success: function(data){-->
<!--                    location.reload(true);-->
<!--                },-->
<!--                error : function(data) {-->
<!--                    location.reload(true);-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--    </script>-->

<!--    <script>-->
<!--        function addTeacherCompetition() {-->
<!--            var teacherCompetitionName = $("#teacherCompetitionName").val();-->
<!--            var teacherCompetitioncategory = $("#teacherCompetitioncategory").val();-->
<!--            var teacherCompetitionform = $("#teacherCompetitionform").val();-->
<!--            $.ajax({-->
<!--                type: 'POST',-->
<!--                url: "/addTeacherCompetition",-->
<!--                data:{-->
<!--                    teacherCompetitionName: teacherCompetitionName,-->
<!--                    teacherCompetitioncategory: teacherCompetitioncategory,-->
<!--                    teacherCompetitionform: teacherCompetitionform-->
<!--                },-->
<!--                success: function(data){-->
<!--                    location.reload(true);-->
<!--                },-->
<!--                error : function(data) {-->
<!--                    location.reload(true);-->
<!--                }-->
<!--            });-->
<!--        }-->

<!--    </script>-->

    <script>
        function saveCount() {
            var slwNum = $("#slwNum").val();
            var xlwNum = $("#xlwNum").val();
            $.ajax({
                type:'POST',
                url:"/saveCount",
                data:{
                    slwNum: slwNum,
                    xlwNum: xlwNum
                },
                success: function(data){
                    location.reload(true);
                },
                error : function(data) {
                    location.reload(true);
                }
            });
        }

    </script>

    <script type="text/javascript">
        $(function(){
            initData();
            getStudentCompetitionGzl();
            getTeacherCompetitionGzl();
            getLwGzl();
            getAllGzl();
        });

        function getLwGzl(){
            $.ajax({
                type:'GET',
                url:"/getLwGzl",
                success: function(data){
                    $("#count").html(data);
                },
                error : function(data) {

                }
            });
        }

        function getStudentCompetitionGzl(){
            $.ajax({
                type:'GET',
                url:"/getStudentCompetitionGzl",
                success: function(data){
                    $("#studentGzl").html(data);
                },
                error : function(data) {

                }
            });
        }

        function getTeacherCompetitionGzl(){
            $.ajax({
                type:'GET',
                url:"/getTeacherCompetitionGzl",
                success: function(data){
                    $("#teacherCount").html(data);
                },
                error : function(data) {

                }
            });
        }


        function getAllGzl(){
            $.ajax({
                type:'GET',
                url:"/getAllGzl",
                success: function(data){
                    $("#all").html(data);
                },
                error : function(data) {

                }
            });
        }

        function initData(){
            $.ajax({
                type:'GET',
                url:"/getYearNum",
                success: function(data){
                    $("#year").html(data);
                },
                error : function(data) {

                }
            });
        }
    </script>

</head>

<body>
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <!-- 头部 -->
    <script src="js/titleandnav.js"></script>
    <!-- 左边导航栏 -->
    <div class="main">
        <div class="navbar" id="navwrap">
            <div class="navwarp">
                <div class="basic-information">
                    <a th:href="@{/basicinformation}">教师本年度基本信息</a>
                </div>
                <!-- 本科生 -->
                <div id="bachelor">本科生</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a th:href="@{/classroomteaching}" >课堂教学</a>
                    </li>
                    <li class="list-group-item">
                        <a th:href="@{/practiceteh}">实践教学</a>
                    </li>
                    <li class="list-group-item"><a th:href="@{/qualityengineering}">质量工程建设</a></li>
                    <li class="list-group-item"><a th:href="@{/teachingresearch}">教学研究</a></li>
                    <li class="list-group-item active"><a th:href="@{/know}">教学竞赛获奖</a></li>
                    <li class="list-group-item"><a th:href="@{/other}">其它教育教学活动</a></li>
                </ul>
                <!-- 研究生 -->
                <div id="postgraduate">研究生</div>
                <ul class="list-group">
                    <li class="list-group-item"><a th:href="@{/graduateclass}">课堂教学</a></li>
                    <li class="list-group-item"><a th:href="@{/graduatepractice}">实践教学</a></li>
                    <li class="list-group-item"><a th:href="@{/graduateconstruction}">教学基本建设与学科建设</a></li>
                    <li class="list-group-item"><a th:href="@{/graduateprogram}">教学研究项目</a></li>
                    <li class="list-group-item"><a th:href="@{/masterKnow}">指导研究生竞赛获奖</a></li>
                    <li class="list-group-item"><a th:href="@{/masterOther}">其它工作</a></li>
                </ul>
                <!-- 提交按钮 -->
                <div>
                    <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
                </div>
            </div>
        </div>
        <!-- 模态框-是否提交 -->
        <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="tips">
                            <div>提示：</div>
                            <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
                        </div>
                        <div class="btn-submitted">
                            <a th:href="@{/submit}"><button type="button" id="submitted">继续提交</button></a>
                            <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 知识竞赛部分 -->
    <div class="informationwarp" id="informationwarp">
        <!-- 标题 -->
        <div class="teaching-title">本科生教学竞赛获奖工作量</div>
        <div class="msg-warp">
            <!-- 提示信息栏 -->
            <div class="msg">
                <div class="year">年度<span  id="year" name="year"></span></div>
                <div class="total-workload">教学竞赛获奖工作量总计<span id="all" name="all"></span></div>
            </div>
            <div>
                <!-- 指导学生竞赛-提示信息栏 -->
                <div class="msgs">
                    <div class="subtitle">指导学生竞赛</div>
                    <div class="workload">工作量小计<span id="studentGzl" name="studentGzl"></span></div>
                    <span th:if="${hidden==0}">
                       <button type="button" id="save" data-toggle="modal" data-target="#guidingStudents">
                            添加
                        </button>
                    </span>
                </div>
                <!-- 模态框（Modal）登陆界面 -->
                <div class="modal fade" id="guidingStudents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h5 class="modal-title" id="" style="text-align: center;">
                                    指导学生竞赛新增
                                </h5>
                            </div>
                            <div class="modal-body">
                                    <div>
                                        <span class="meter">竞赛名称：</span><input type="text" id="contestName" name="contestName" class="form-control-1 class-name form-control-jub" placeholder="" />
                                    </div>
                                    <div class="warning">竞赛名称不能为空！</div>
                                    <div>
                                        <span class="meter">竞赛类别：</span><select id="competition" name="competition">
                                            <option value="1">A类师范生教学技能竞赛</option>
                                            <option value="2">B类师范生教学技能竞赛</option>
                                            <option value="3">A类其他竞赛</option>
                                            <option value="4">B类其他竞赛</option>

                                        </select>
                                    </div>
                                    <div>
                                        <span class="meter">竞赛级别：</span><select id="contestLevel" name="contestLevel">
                                        <option value="1">国家级</option>
                                        <option value="2">省级</option>
                                        <option value="3">校级</option>

                                    </select>

                                        <!--<input type="text" id="contestLevel" name="contestLevel" class="form-control-1 class-number" placeholder="" />-->
                                    </div>
                                    <div>
                                        <span class="meter">指导学生人数：</span><input type="text" id="studentNum" name="studentNum" class="form-control-1 form-control-jub timenum" placeholder="" />
                                    </div>
                                    <div class="warning">指导学生人数不能为空！</div>
                                    <div class="btn-add">
<!--                                        onclick="addContest()"-->

                                            <button type="submit" id="addStudentContest" name="addStudentContest" class="addguide">添加</button>

                                        <button type="button"  class="cancel" data-dismiss="modal">取消</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 表格数据 -->
                <table class="table table-bordered edtitable">
                    <thead>
                        <tr>
                            <td>竞赛名称</td>
                            <td>竞赛类别</td>
                            <td>竞赛级别</td>
                            <td>指导学生人数</td>
                            <td>工作量</td>
                            <td colspan="2">操作</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="allStudentCompetition:${allStudentCompetitionList}">
                            <td th:text="${allStudentCompetition.jsmc}"></td>
                            <td th:text="${allStudentCompetition.jslbmc}">
                                <select name="competitioncategory">
                                    <option value="1">A类师范生教学技能竞赛</option>
                                    <option value="2">B类师范生教学技能竞赛</option>
                                    <option value="3">A类其他竞赛</option>
                                    <option value="4">B类其他竞赛</option>
                                </select>
                            </td>
                            <td th:text="${allStudentCompetition.jsjbmc}">
                                <select name="competitionlevel">
                                    <option value="1">国家级</option>
                                    <option value="2">省级</option>
                                </select>
                            </td>
                            <td th:text="${allStudentCompetition.zdxsrs}">Savings</td>
                            <td th:text="${allStudentCompetition.gzl}"></td>
                            <!--<td><a class="modify">修 改</a></td>-->
                            <td><a class="delete" th:href="@{/deleteUndergraduate(id=${allStudentCompetition.xsjsid})}" type="submit">删 除</a></td>
                        </tr>
                    </tbody>
                </table>
                <!-- 教师教学能力竞赛获奖-提示信息栏 -->
                <div class="msgs">
                    <div class="subtitle">教师教学能力竞赛获奖</div>
                    <div class="workload">工作量小计<span id="teacherCount" name="teacherCount"></span></div>
                    <span th:if="${hidden==0}">
                         <button type="button" id="save" data-toggle="modal" data-target="#teachingAbility">
                            添加
                         </button>
                    </span>

                </div>
                <!-- 模态框（Modal）登陆界面 -->
                <div class="modal fade" id="teachingAbility" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                    &times;
                                </button>
                                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                                    教师教学能力竞赛获奖新增
                                </h5>
                            </div>
                            <div class="modal-body">
                                    <div>
                                        <span class="meter">竞赛名称：</span><input type="text" id="teacherCompetitionName" name="teacherCompetitionName" class="form-control-1 form-control-jub class-name" placeholder="" />
                                    </div>
                                <div class="warning">竞赛名称不能为空！</div>
                                    <div>
                                        <span class="meter">竞赛等级：</span><select id="teacherCompetitioncategory" name="teacherCompetitioncategory">
                                            <option value="1">国家级一等奖</option>
                                            <option value="2">国家级二等奖</option>
                                            <option value="3">国家级三等奖</option>
                                            <option value="4">省级一等奖</option>
                                            <option value="5">省级二等奖</option>
                                            <option value="6">省级三等奖</option>
                                            <option value="7">校级一等奖</option>
                                            <option value="8">校级二等奖</option>
                                            <option value="9">校级三等奖</option>
                                        </select>
                                    </div>
                                    <div>
                                        <span class="meter">竞赛形式：</span><select id="teacherCompetitionform" name="teacherCompetitionform">
                                            <option value="1">讲课</option>
                                            <option value="2">课件</option>
                                            <option value="3">微课</option>
                                        </select>
                                    </div>
                                    <div class="btn-add">
                                        <button type="submit" id="addTeacherCompetition" name="addTeacherCompetition" class="addability">添加</button>
                                        <button type="button" class="cancel" data-dismiss="modal">取消</button>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 表格数据 -->
                <table class="table table-bordered edtitable">
                    <thead>
                    <tr>
                        <td>竞赛名称</td>
                        <td>竞赛等级</td>
                        <td>竞赛形式</td>
                        <td>工作量</td>
                        <td colspan="2">操作</td>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="allTeacherCompetition:${allTeacherCompetitionList}">
                            <td th:text="${allTeacherCompetition.jsmc}"></td>
                            <td th:text="${allTeacherCompetition.jsdjmc}">
                                <select name="competitiongrade">
                                    <option value="nationallevelA">国家级一等奖</option>
                                    <option value="nationallevelB">国家级二等奖</option>
                                    <option value="nationallevelC">国家级三等奖</option>
                                    <option value="provincialA">省级一等奖</option>
                                    <option value="provincialB">省级二等奖</option>
                                    <option value="provincialC">省级三等奖</option>
                                    <option value="schoollevelA">校级一等奖</option>
                                    <option value="schoollevelB">校级二等奖</option>
                                    <option value="schoollevelC">校级三等奖</option>
                                </select>
                            </td>
                            <td th:text="${allTeacherCompetition.jsxsmc}">
                                <select name="competitionform">
                                    <option value="lecture">讲课</option>
                                    <option value="Courseware">课件</option>
                                    <option value="microlesson">微课</option>
                                </select>
                            </td>
                            <td th:text="${allTeacherCompetition.gzl}"></td>
                            <!--<td><a class="modify">修 改</a></td>-->
                            <td><a th:href="@{/deleteTeacherCompetition(id=${allTeacherCompetition.jsjsid})}" class="delete" >删 除</a></td>
                        </tr>
                    </tbody>
                </table>
                <!-- 教师指导学生学士学位论文获奖-提示信息栏 -->
                <div class="msgs">
                    <div class="subtitle">教师指导学生学士学位论文获奖</div>
                    <div class="workload" id="lwCount" name="lwCount">工作量小计<span id="count" name="count"></span></div>
                </div>
                <div class="excellentpaper">
                    省级优秀论文人数<input th:value="${zDXSLW}?${zDXSLW.sylwrs}:${0}" type="text" id="slwNum" name="slwNum" class="management" placeholder="" />
                </div>
                <div class="excellentpaper">
                    校级优秀论文人数<input th:value="${zDXSLW}?${zDXSLW.xylwrs}:${0}" type="text" id="xlwNum" name="xlwNum" class="management" placeholder="" />
                </div>
                <div>
                    <span th:if="${hidden==0}">
                        <button type="button"  id="subtitlesave" style="left:0;margin-top: 5%;margin-left: 55%" onclick="saveCount()">保存</button>
                    </span>

                </div>
            </div>
        </div>
    </div>
    <script src="" async defer></script>

</body>

</html>