<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
  <!--<![endif]-->

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>教学工作量统计系统</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- 引用bootstrap及基础样式 -->
    <script src="js/link.js"></script>
    <link rel="stylesheet" type="text/css" href="css/login.css" />
  </head>

  <body>
    <!-- ie7兼容 -->
    <!--[if lt IE 7]>
      <p class="browsehappy">
        You are using an <strong>outdated</strong> browser. Please
        <a href="#">upgrade your browser</a> to improve your experience.
      </p>
    <![endif]-->
    <!-- 登录页面 -->
    <div class="home">
      <!-- 登录框 -->
      <div class="title">湖北师范大学教学工作量统计系统</div>
      <div id="loginwrap">
        <form  th:action="@{/do_login}"  id="loginbar" class="loginbar" method="post"  th:object="${loginVo}">
          教师工号:<input type="text" name="gh" /><br />
          <span class="passwordtip" style="letter-spacing: 30px;">密</span
          >码:<input type="password" name="password" /><br />
          <button type="submit" id="login">登录</button>
          <button type="button" id="out">退出</button>
        </form>
      </div>
        <div><span style="color: red" th:text="${error}"></span></div>
    </div>
    <script src="" async defer></script>
  </body>
</html>
