<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 引用bootstrap及基础样式 -->
    <script src="js/link.js"></script>
    <link rel="stylesheet" href="css/practicalteaching.css">
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 头部 -->
    <script src="js/titleandnav.js"></script>
    <!-- 左边导航栏 -->
    <div class="main">
        <div class="navbar">
            <div class="navwarp">
                <div class="basic-information">
                    <a th:href="@{/basicinformation}">教师本年度基本信息</a>
                </div>
                <!-- 本科生 -->
                <div id="bachelor">本科生</div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a th:href="@{/classroomteaching}">课堂教学</a>
                    </li>
                    <li class="list-group-item active">
                        <a href="/practiceteh">实践教学</a>
                    </li>
                    <li class="list-group-item"><a href="qualityengineering.html">质量工程建设</a></li>
                    <li class="list-group-item"><a href="teachingresearch.html">教学研究</a></li>
                    <li class="list-group-item"><a href="knowledgecontest.html">教学知识竞赛</a></li>
                    <li class="list-group-item"><a href="otheractivities.html">其它教育教学活动</a></li>
                </ul>
                <!-- 研究生 -->
                <div id="postgraduate">研究生</div>
                <ul class="list-group">
                    <li class="list-group-item">课堂教学</li>
                    <li class="list-group-item">实践教学</li>
                    <li class="list-group-item">教学基本建设与学科建设</li>
                    <li class="list-group-item">教学研究项目</li>
                    <li class="list-group-item">指导研究生竞赛获奖</li>
                    <li class="list-group-item">其它工作</li>
                </ul>
                <div>
                    <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="tips">
                            <div>提示：</div>
                            <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
                        </div>
                        <div class="btn-submitted">
                            <button type="button" id="submitted">继续提交</button>
                            <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 实践教学部分 -->
    <div class="practical-teaching">
        <!-- 标题 -->
        <div class="teaching-title">本科生实践教学工作量</div>
        <form th:action="@{/saveBkssjjx}" th:object="${bkssjjxVo}" method="post">
        <div class="msg-warp">
            <!-- 提示信息栏 -->
            <div class="msg">
                <div class="year">年度<span class="prompt">2019</span></div>
                <div class="total-workload">实践教学工作量总计<span class="prompt">sss</span></div>
                <button type="button" id="add">编辑</button>
                <button type="button" id="save">保存</button>
            </div>
            <!-- 具体工作类别及数目 -->
            <div class="job-category">
                <ul>
                    <li class="tips">1.指导实习</li>
                    <li class="tips workload-display">工作量小计<span class="prompt">xxx</span></li>
                    <li class="description indent">
                        实习类型
                        <select name="internshiptype" >
                            <div th:unless="${bkssjjx}" >
                                <option th:each="sxlx:${sxlxlist}" th:text="${sxlx.sxlxmc}"></option>
                            </div>
                            <div th:if="${bkssjjx}" >
                                <option th:each="sxlx:${sxlxlist}" th:text="${sxlx.sxlxmc}"
                                        th:selected="${sxlx.sxlxbm}==${bkssjjx.sxlxbm1}">
                                </option>
                            </div>
                        </select>
                    </li>
                    <li class="description filling">
                        实习天数
                        <input th:if="${bkssjjx}" th:text="${bkssjjx.sxts1}" type="number" id="day" class="day"/>
                        <input th:unless="${bkssjjx}"  type="number" id="day" class="day"/>
                    </li>
                    <li class="description indent">
                        实习类型
                        <select name="internshiptype" >
                            <div th:unless="${bkssjjx}" >
                                <option th:each="sxlx:${sxlxlist}" th:text="${sxlx.sxlxmc}"></option>
                            </div>
                            <div th:if="${bkssjjx}" >
                                <option th:each="sxlx:${sxlxlist}" th:text="${sxlx.sxlxmc}"
                                        th:selected="${sxlx.sxlxbm}==${bkssjjx.sxlxbm2}">
                                </option>
                            </div>
                        </select>
                    </li>
                    <li class="description filling">
                        实习天数
                        <input th:if="${bkssjjx}" th:text="${bkssjjx.sxts2}" type="number" id="day" class="day"/>
                        <input th:unless="${bkssjjx}"  type="number" id="day" class="day"/>
                    </li>
                    <li class="description indent">
                        实习类型
                        <select name="internshiptype" >
                            <div th:unless="${bkssjjx}" >
                                <option th:each="sxlx:${sxlxlist}" th:text="${sxlx.sxlxmc}"></option>
                            </div>
                            <div th:if="${bkssjjx}" >
                                <option th:each="sxlx:${sxlxlist}" th:text="${sxlx.sxlxmc}"
                                        th:selected="${sxlx.sxlxbm}==${bkssjjx.sxlxbm3}">
                                </option>
                            </div>
                        </select>
                    </li>
                    <li class="description filling">
                        实习天数
                        <input th:if="${bkssjjx}" th:text="${bkssjjx.sxts3}" type="number" id="day" class="day"/>
                        <input th:unless="${bkssjjx}"  type="number" id="day" class="day"/>
                    </li>
                    <li class="tips">2.微格试讲</li>
                    <li class="tips workload-display">工作量小计<span class="prompt">xxx</span></li>
                    <li class="description new-line indent">
                        指导学生人数
                        <input type="number" th:if="${bkssjjx}" th:text="${bkssjjx.wgsjrs}" class="student-num" placeholder=""/>
                        <input th:unless="${bkssjjx}"  type="number" id="day" class="day"/>
                    </li>
                    <li class="tips">3.指导毕业论文</li>
                    <li class="tips workload-display">工作量小计<span class="prompt">xxx</span></li>
                    <li class="description indent">
                        专业类型
                        <select name="majortype"  th:if="${bkssjjx}">
                            <option th:each="zylx:${zylxlist}" th:text="${zylx.zylxmc}"
                                    th:selected="${zylx.zylxbm}==${bkssjjx.zylxbm}"> </option>
                        </select>
                        <select name="majortype"  th:unless="${bkssjjx}">
                            <option th:each="zylx:${zylxlist}" th:text="${zylx.zylxmc}"> </option>
                        </select>
                    </li>
                    <li class="description filling">
                        指导学生人数
                        <input type="number" id="student-num" class="student-num" th:if="${bkssjjx}"
                               th:text="${bkssjjx.zdlwrs}" />
                        <input th:unless="${bkssjjx}"  type="number" id="day" class="day"/>
                    </li>
                    <li class="tips new-line">4.实验室建设与管理</li>
                    <li class="description indent managements">
                        管理内容<input type="text" id="management" class="management"
                                   th:if="${bkssjjx}" th:text="${bkssjjx.glnr}" />
                        <input th:unless="${bkssjjx}"  type="text" id="day" class="day"/>
                    </li>
                    <li class="description laboratoryworkloads">
                        实验室管理工作量
                        <input type="number" id="laboratory-workload" class="laboratory-workload"
                                       th:if="${bkssjjx}" th:text="${bkssjjx.glgzl}" />
                        <input th:unless="${bkssjjx}"  type="text" id="day" class="day"/>
                    </li>
                </ul>
            </div>
        </div>
        </form>
    </div>
    <script src="" async defer></script>
</body>

</html>
