<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 引用bootstrap及基础样式 -->
  <script src="js/link.js"></script>
  <link rel="stylesheet" href="css/teachingresearch.css">
  <!-- 编辑表格脚本 -->
  <script src="js/edittable.js"></script>
  <link rel="stylesheet" href="css/tablestyle.css" />
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- 头部 -->
    <script src="js/titleandnav.js"></script>
    <!-- 左边导航栏 -->
    <div class="main">
        <div class="navbar">
            <div class="navwarp">
                <div class="basic-information">
                    <a th:href="@{/basicinformation}">教师本年度基本信息</a>
                </div>
                <!-- 本科生 -->
              <div id="bachelor">本科生</div>
              <ul class="list-group">
                <li class="list-group-item">
                  <a th:href="@{/classroomteaching}" >课堂教学</a>
                </li>
                <li class="list-group-item">
                  <a th:href="@{/practiceteh}">实践教学</a>
                </li>
                <li class="list-group-item"><a th:href="@{/qualityengineering}">质量工程建设</a></li>
                <li class="list-group-item"><a th:href="@{/teachingresearch}">教学研究</a></li>
                <li class="list-group-item"><a th:href="@{/know}">教学知识竞赛</a></li>
                <li class="list-group-item"><a th:href="@{/other}">其它教育教学活动</a></li>
              </ul>
                <!-- 研究生 -->
                <div id="postgraduate">研究生</div>
                <ul class="list-group">
                  <li class="list-group-item active"><a th:href="@{/graduateclass}">课堂教学</a></li>
                  <li class="list-group-item"><a th:href="@{/graduatepractice}">实践教学</a></li>
                  <li class="list-group-item"><a th:href="@{/graduateconstruction}">教学基本建设与学科建设</a></li>
                  <li class="list-group-item"><a th:href="@{/graduateprogram}">教学研究项目</a></li>
                  <li class="list-group-item"><a th:href="@{/masterKnow}">指导研究生竞赛获奖</a></li>
                  <li class="list-group-item"><a th:href="@{/masterOther}">其它工作</a></li>
                  <!--测试用，到时候整合-->
                    <li class="list-group-item"><a th:href="@{/officecollege}">审核本院工作量1</a></li>
                </ul>
                <div>
                    <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
                </div>
            </div>
        </div>
        <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="tips">
                            <div>提示：</div>
                            <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
                        </div>
                        <div class="btn-submitted">
                            <button type="button" id="submitted">继续提交</button>
                            <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 教学研究部分 -->
      <div class="qualityen-gineering">
    <!-- 标题 -->
    <div class="teaching-title">本科生课堂教学工作量</div>
    <div class="msg-warp">
      <!-- 提示信息栏 -->
      <div class="msg">
        <div class="year">年度<span th:text="${year}"></span></div>
        <div class="total-workload">工作总量<span th:text="${jxcgGzl+zxxmGzl+hxxmGzl+jcGzl+jxggGzl}"></span></div>
      </div>
      <div>
        <!-- 表格数据 -->
        <!-- 教学成果-提示信息栏 -->
        <div class="msgs">
          <div class="subtitle">教学成果</div>
          <div class="workload">工作量小计<span th:text="${jxcgGzl}"></span></div>
          <button type="button" id="save" data-toggle="modal" data-target="#guideStudents">添加</button>
        </div>
              <!-- 模态框（Modal）登陆界面 -->
      <div class="modal fade" id="guideStudents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                指导学生竞赛新增
              </h5>
            </div>
            <div class="modal-body">
              <form th:action="@{/addJxcg}" method="post">
                <div>
                  教学成果：<input type="text" class="form-control-1 class-name" th:name="cgmc" placeholder="请输入教学成果名称"/>
                </div>
                <div>
                  成果等级：<select th:name="cgdjbm" class="form-control-1">
                  <option th:each="jxcgdj:${Jxcgdjs}" th:value="${jxcgdj.getCgdjbm()}" th:text="${jxcgdj.getCgdjmc()}"></option>
                </select>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" th:name="xmpm" placeholder="请输入教学成果项目排名"/>
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1 class-number" th:name="zrs" placeholder="请输入教学成果总人数" />
                </div>
                <div class="btn-add">
                  <!--<button type="button" id="add">添加</button>-->
                  <button type="submit" id="add" >添加</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 表格数据 -->
      <table class="table table-bordered edtitable">
        <thead>
        <tr>
          <td>成果名称</td>
          <td>成果等级</td>
          <td>项目排名</td>
          <td>项目总人数</td>
          <td>工作量</td>
          <td colspan="2">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Jxcg:${Jxcgs}">
          <th th:text="${Jxcg.getCgmc()}"></th>
          <div th:switch="${Jxcg.getCgdjbm()}" >
            <th th:each="Jxcgdj:${Jxcgdjs}" th:case="${Jxcgdj.getCgdjbm()}"
                th:text="${Jxcgdj.getCgdjmc()}"></th>
            <div/>
            <th th:text="${Jxcg.getXmpm()}"></th>
            <th th:text="${Jxcg.getZrs()}"></th>
            <th th:text="${Jxcg.getGzl()}"></th>
            <!-- 删除按钮 -->
            <td class="del-col notedit">
              <a th:href="@{/delJxcg(id=${Jxcg.getJxcgid()})}" class="delBtn">删除</a>
            </td>
        </tr>
        </tbody>
      </table>
        <!-- 模态框（Modal）纵向教研项目修改界面 -->
        <div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  教学成果项目修改
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    教研项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    项目等级：<select name="competitionform" class="form-control-1">
                    <option value="lecture">讲课</option>
                    <option value="Courseware">课件</option>
                    <option value="microlesson">微课</option>
                  </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">确定</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      <!-- 纵向教研项目-提示信息栏 -->
      <div class="msgs">
        <div class="subtitle">纵向教研项目</div>
        <div class="workload">工作量小计<span th:text="${zxxmGzl}"></span></div>
        <button type="button" id="save" data-toggle="modal" data-target="#verticalTeaching">添加</button>
      </div>
      <!-- 模态框（Modal）登陆界面 -->
      <div class="modal fade" id="verticalTeaching" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                纵向教研项目新增
              </h5>
            </div>
            <div class="modal-body">
              <form th:action="@{/addZxxm}" method="post">
                <div>
                  教研项目名称：<input type="text" class="form-control-1 class-name" placeholder="请输入教研项目名称" th:name="xmmc"/>
                </div>
                <div>
                  项目等级：<select name="competitionform" th:name="xmdjbm" class="form-control-1">
                  <option th:each="zxxmdj:${Zxxmdjs}" th:value="${zxxmdj.xmdjbm}" th:text="${zxxmdj.xmdjmc}"></option>
                </select>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" placeholder="请输入项目排名" th:name="xmpm"/>
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1 class-number" placeholder="请输入项目总人数" th:name="zrs"/>
                </div>
                <div class="btn-add">
                  <button type="submit" id="add">添加</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 表格数据 -->
      <table class="table table-bordered edtitable">
        <thead>
        <tr>
          <td>教研项目名称</td>
          <td>项目等级</td>
          <td>项目排名</td>
          <td>项目总人数</td>
          <td>工作量</td>
          <td colspan="2">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="zxxm:${Zxxms}">
          <td th:text="${zxxm.getXmmc()}"></td>
          <div th:switch="${zxxm.getXmdjbm()}">
            <th th:each="Zxxmdj:${Zxxmdjs}" th:case="${Zxxmdj.xmdjbm}"
                th:text="${Zxxmdj.xmdjmc}"></th>
            </div>
          <td th:text="${zxxm.getXmpm()}"></td>
          <td th:text="${zxxm.getZrs()}"></td>
          <td th:text="${zxxm.getGzl()}"></td>
          <!--<td class="notedit"><a class="modify" data-toggle="modal" data-target="#portraitModal">修 改</a></td>-->
          <!-- 删除按钮 -->
          <td class="del-col noedit">
          <a th:href="@{/delZxxm(id=${zxxm.getZxxmid()})}" class="delBtn">删除</a>
        </td>

        </tr>
        </tbody>
      </table>
      <!-- 模态框（Modal）纵向教研项目修改界面 -->
      <div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                纵向教研项目修改
              </h5>
            </div>
            <div class="modal-body">
              <form action="">
                <div>
                  教研项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                </div>
                <div>
                  项目等级：<select name="competitionform" class="form-control-1">
                  <option value="lecture">讲课</option>
                  <option value="Courseware">课件</option>
                  <option value="microlesson">微课</option>
                </select>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                </div>
                <div class="btn-add">
                  <button type="button" id="add">确定</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 横向教研项目-提示信息栏 -->
      <div class="msgs">
        <div class="subtitle">横向教研项目</div>
        <div class="workload">工作量小计<span th:text="${hxxmGzl}"></span></div>
        <button type="button" id="save" data-toggle="modal" data-target="#horizontalTeaching">添加</button>
      </div>
      <!-- 模态框（Modal）登陆界面 -->
      <div class="modal fade" id="horizontalTeaching" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                横向教研项目新增
              </h5>
            </div>
            <div class="modal-body">
              <form th:action="@{/addHxxm}" method="post">
                <div>
                  横向项目名称：<input type="text" class="form-control-1 class-name" placeholder="请输入教研项目名称" th:name="xmmc"/>
                </div>
                <div>
                  到账经费：<input type="text" class="form-control-1 class-name" placeholder="请输入到账经费数额" th:name="dzjf"/>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" placeholder="请输入项目排名" th:name="xmpm"/>
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1 class-number" placeholder="请输入项目总人数" th:name="zrs"/>
                </div>
                <div class="btn-add">
                  <button type="submit" id="add">添加</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 表格数据 -->
      <table class="table table-bordered edtitable">
        <thead>
        <tr>
          <td>横向项目名称</td>
          <td>到账经费</td>
          <td>项目排名</td>
          <td>项目总人数</td>
          <td>工作量</td>
          <td colspan="2">操作</td>
        </tr>
        </thead>
        <tr th:each="Hxxm:${Hxxms}">
          <td th:text="${Hxxm.getXmmc()}"></td>
          <td th:text="${Hxxm.getDzjf()}"></td>
          <td th:text="${Hxxm.getXmpm()}"></td>
          <td th:text="${Hxxm.getZrs()}"></td>
          <td th:text="${Hxxm.getGzl()}"></td>

          <!-- 删除按钮 -->
          <td class="del-col noedit">
            <a th:href="@{/delHxxm(id=${Hxxm.hxxmid})}" class="delBtn">删除</a>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- 模态框（Modal）横向教研项目修改界面 -->
      <div class="modal fade" id="landscapeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                横向教研项目修改
              </h5>
            </div>
            <div class="modal-body">
              <form action="">
                <div>
                  横向项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                </div>
                <div>
                  到账经费：<select name="competitionform" class="form-control-1">
                  <option value="lecture">讲课</option>
                  <option value="Courseware">课件</option>
                  <option value="microlesson">微课</option>
                </select>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                </div>
                <div class="btn-add">
                  <button type="button" id="add">确定</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 编写规划教材、教材获奖-提示信息栏 -->
      <div class="msgs">
        <div class="subtitle">编写规划教材、教材获奖</div>
        <div class="workload">工作量小计<span th:text="${jcGzl}"></span></div>
        <button type="button" id="save" data-toggle="modal" data-target="#award">添加</button>
      </div>
      <!-- 模态框（Modal）编写规划教材、教材获奖界面 -->
      <div class="modal fade" id="award" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                编写规划教材、教材获奖新增
              </h5>
            </div>
            <div class="modal-body">
              <form th:action="@{/addJc}" method="post">
                <div>
                  教材名称：<input type="text" class="form-control-1 class-name" placeholder="请输入教材、教材获奖名称" th:name="jcmc"/>
                </div>
                <div>
                  教材级别：<select name="competitionform" class="form-control-1" th:name="jcjbbm">
                  <option th:each="jcjb:${Jcjbs}" th:value="${jcjb.jcjbbm}"
                          th:text="${jcjb.jcjbmc}"></option>
                </select>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" placeholder="请输入项目排名" th:name="xmpm"/>
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1 class-number" placeholder="请输入项目总人数" th:name="zrs"/>
                </div>
                <div class="btn-add">
                  <button type="submit" id="add">添加</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
        <!-- 表格数据 -->
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>教材名称</td>
              <td>教材级别</td>
              <td>项目排名</td>
              <td>项目总人数</td>
              <td>工作量</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tbody>
            <tr th:each="Jc:${Jcs}">
              <th th:text="${Jc.jcmc}"></th>
              <div th:switch="${Jc.jcjbbm}">
              <th th:each="Jcjb:${Jcjbs}" th:case="${Jcjb.jcjbbm}"
                  th:text="${Jcjb.jcjbmc}"></th>
              </div>
              <th th:text="${Jc.xmpm}"></th>
              <th th:text="${Jc.zrs}"></th>
              <th th:text="${Jc.gzl}"></th>
              <!--<td><a class="modify">修 改</a></td>-->
              <td><a class="delete" th:href="@{/delJc(id=${Jc.jcid})}">删 除</a></td>
            </tr>
          </tbody>
        </table>
        <!-- 教学改革工作量-提示信息栏 -->
        <div class="msgs">
          <div class="subtitle">教学改革工作量</div>
          <div class="workload">工作量小计<span th:text="${jxggGzl}"></span></div>
          <button type="button" id="save" data-toggle="modal" data-target="#teachingReform">添加</button>
        </div>
              <!-- 模态框（Modal）登陆界面 -->
      <div class="modal fade" id="teachingReform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                教学改革工作量新增
              </h5>
            </div>
            <div class="modal-body">
              <form th:action="@{/addJxgg}" method="post">
                <div>
                  项目名称：<input type="text" class="form-control-1 class-name" placeholder="请输入教学改革名称" th:name="xmmc"/>
                </div>
                <div>
                  立项级别：<select name="competitionform" class="form-control-1" th:name="lxjbbm">
                  <option th:each="Lxjb:${Lxjbs}" th:value="${Lxjb.lxjbbm}"
                          th:text="${Lxjb.lxjbmc}"></option>
                </select>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" placeholder="请输入项目排名" th:name="xmpm"/>
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1" placeholder="请输入项目总人数" th:name="zrs"/>
                </div>
                <div class="btn-add">
                  <button type="submit" id="add">添加</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- 表格数据 -->
      <table class="table table-bordered edtitable">
        <thead>
        <tr>
          <td>项目名称</td>
          <td>立项级别</td>
          <td>项目排名</td>
          <td>项目总人数</td>
          <td>工作量</td>
          <td colspan="2">操作</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="Jxgg:${Jxggs}">
          <th th:text="${Jxgg.xmmc}"></th>
          <div th:switch="${Jxgg.lxjbbm}">
            <th th:each="Lxjb:${Lxjbs}" th:case="${Lxjb.lxjbbm}"
                th:text="${Lxjb.lxjbmc}"></th>
          </div>
          <th th:text="${Jxgg.xmmc}"></th>
          <th th:text="${Jxgg.zrs}"></th>
          <th th:text="${Jxgg.gzl}"></th>
          <!--<td><a class="modify">修 改</a></td>-->
          <td><a class="delete" th:href="@{/delJxgg(id=${Jxgg.jxggid})}">删 除</a></td>
        </tr>
        </tbody>
      </table>
      <!-- 模态框（Modal）教学改革工作量编辑界面 -->
      <div class="modal fade" id="reformModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
           aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
              </button>
              <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                教学改革工作量修改
              </h5>
            </div>
            <div class="modal-body">
              <form action="">
                <div>
                  项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                </div>
                <div>
                  立项级别：<select name="competitionform" class="form-control-1">
                  <option value="lecture">讲课</option>
                  <option value="Courseware">课件</option>
                  <option value="microlesson">微课</option>
                </select>
                </div>
                <div>
                  项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                </div>
                <div>
                  项目总人数：<input type="text" class="form-control-1" placeholder="" />
                </div>
                <div class="btn-add">
                  <button type="button" id="add">确定</button>
                  <button type="button" id="cancel" data-dismiss="modal">取消</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script language="javascript">
    var tabProduct = document.getElementById("tabProduct");
    // 设置表格可编辑
    // 可一次设置多个，例如：EditTables(tb1,tb2,tb2,......)
    EditTables(tabProduct);
</script>
<script src="" async defer></script>
</body>

</html>