<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- 引用bootstrap及基础样式 -->
  <script src="js/link.js"></script>
  <link rel="stylesheet" href="css/teachingresearch.css">
  <!-- 编辑表格脚本 -->
  <script src="js/edittable.js"></script>
  <link rel="stylesheet" href="css/tablestyle.css" />
</head>

<body>
  <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <!-- 头部 -->
  <script src="js/titleandnav.js"></script>
  <!-- 左边导航栏 -->
  <div class="main">
    <div class="navbar">
      <div class="navwarp">
        <div class="basic-information">
          <a href="basicinformation.html">教师本年度基本信息</a>
        </div>
        <!-- 本科生 -->
        <div id="bachelor">本科生</div>
        <ul class="list-group">
          <li class="list-group-item">
            <a href="classroomteaching.html">课堂教学</a>
          </li>
          <li class="list-group-item">
            <a href="practicalteaching.html">实践教学</a>
          </li>
          <li class="list-group-item"><a href="qualityengineering.html">质量工程建设</a></li>
          <li class="list-group-item active"><a href="teachingresearch.html">教学研究</a></li>
          <li class="list-group-item"><a href="knowledgecontest.html">教学知识竞赛</a></li>
          <li class="list-group-item"><a href="otheractivities.html">其它教育教学活动</a></li>
        </ul>
        <!-- 研究生 -->
        <div id="postgraduate">研究生</div>
        <ul class="list-group">
          <li class="list-group-item"><a href="graduateclass.html">课堂教学</a></li>
          <li class="list-group-item"><a href="graduatepractice.html">实践教学</a></li>
          <li class="list-group-item"><a href="graduateconstruction.html">教学基本建设与学科建设</a></li>
          <li class="list-group-item"><a href="graduateprogram.html">教学研究项目</a></li>
          <li class="list-group-item active"><a href="graduateaward.html">指导研究生竞赛获奖</a></li>
          <li class="list-group-item"><a href="graduateother.html">其它工作</a></li>
        </ul>
        <div>
          <button type="button" id="Submitbtn" data-toggle="modal" data-target="#Submission">提交</button>
        </div>
      </div>
    </div>
    <div class="modal fade" id="Submission" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <div class="tips">
              <div>提示：</div>
              <div style=" text-indent: 2em;">本年度工作量提交以后，就不能修改。如果提交后需要修改，请让系主任或教学秘书做撤回操作。</div>
            </div>
            <div class="btn-submitted">
              <button type="button" id="submitted">继续提交</button>
              <button type="button" id="notsubmitted" data-dismiss="modal">不提交</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 教学研究部分 -->
  <div class="qualityen-gineering">
    <!-- 标题 -->
    <div class="teaching-title">本科生课堂教学工作量</div>
    <div class="msg-warp">
      <!-- 提示信息栏 -->
      <div class="msg">
        <div class="year">年度<span>2019</span></div>
        <div class="total-workload">工作总量<span>sss</span></div>
      </div>
      <div>
        <!-- 表格数据 -->
        <!-- 指导学生竞赛-提示信息栏 -->
        <div class="msgs">
          <div class="subtitle">教学成果</div>
          <div class="workload">工作量小计<span>sss</span></div>
          <button type="button" id="save" data-toggle="modal" data-target="#guideStudents">添加</button>
        </div>
        <!-- 模态框（Modal）登陆界面 -->
        <div class="modal fade" id="guideStudents" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  指导学生竞赛新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    教学成果：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    成果等级：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">添加</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 表格数据 -->
        <!-- 表格数据 -->
        <table class="table table-bordered edtitable">
          <thead>
            <tr>
              <td>成果名称</td>
              <td>成果等级</td>
              <td>项目排名</td>
              <td>项目总人数</td>
              <td>工作量</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Month</td>
              <td class="notedit"><select name="achievementlevel">
                  <option value="nationalspecial">国家级特等奖</option>
                  <option value="nationalA">国家级一等奖</option>
                  <option value="nationalB">国家级二等奖</option>
                  <option value="provincialspecial">省部级特等奖</option>
                  <option value="provincialA">省部级一等奖</option>
                  <option value="provincialA">省部级二等奖</option>
                  <option value="provincialA">省部级三等奖</option>
                </select>
              </td>
              <td>Month</td>
              <td>Savings</td>
              <td class="notedit">Month</td>
              <td class="notedit"><a class="modify" data-toggle="modal" data-target="#achievementsModal">修 改</a></td>
              <!-- 删除按钮 -->
              <td class="del-col notedit">
                <a href="javascript:void(0);" class="delBtn">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 模态框（Modal）教学成果界面 -->
        <div class="modal fade" id="achievementsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  指导学生竞赛新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    教学成果：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    成果等级：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">确定</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 纵向教研项目-提示信息栏 -->
        <div class="msgs">
          <div class="subtitle">纵向教研项目</div>
          <div class="workload">工作量小计<span>sss</span></div>
          <button type="button" id="save" data-toggle="modal" data-target="#verticalTeaching">添加</button>
        </div>
        <!-- 模态框（Modal）登陆界面 -->
        <div class="modal fade" id="verticalTeaching" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  纵向教研项目新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    教研项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    项目等级：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">添加</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 表格数据 -->
        <table class="table table-bordered edtitable">
          <thead>
            <tr>
              <td>教研项目名称</td>
              <td>项目等级</td>
              <td>项目排名</td>
              <td>项目总人数</td>
              <td>工作量</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Month</td>
              <td class="notedit">
                <select name="projectlevel">
                  <option value="National">国家级</option>
                  <option value="provincial">省级</option>
                </select>
              </td>
              <td>Month</td>
              <td>Savings</td>
              <td class="notedit">Month</td>
              <td class="notedit"><a class="modify" data-toggle="modal" data-target="#portraitModal">修 改</a></td>
              <!-- 删除按钮 -->
              <td class="del-col noedit">
                <a href="javascript:void(0);" class="delBtn">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 模态框（Modal）纵向教研项目修改界面 -->
        <div class="modal fade" id="portraitModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  纵向教研项目新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    教研项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    项目等级：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">确定</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 横向教研项目-提示信息栏 -->
        <div class="msgs">
          <div class="subtitle">横向教研项目</div>
          <div class="workload">工作量小计<span>sss</span></div>
          <button type="button" id="save" data-toggle="modal" data-target="#horizontalTeaching">添加</button>
        </div>
        <!-- 模态框（Modal）登陆界面 -->
        <div class="modal fade" id="horizontalTeaching" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  横向教研项目新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    横向项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    到账经费：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">添加</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 表格数据 -->
        <table class="table table-bordered edtitable">
          <thead>
            <tr>
              <td>横向项目名称</td>
              <td>到账经费</td>
              <td>项目排名</td>
              <td>项目总人数</td>
              <td>工作量</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tr>
            <td>Month</td>
            <td class="notedit">
              <select name="projectlevel">
                <option value="National">国家级</option>
                <option value="provincial">省级</option>
              </select>
            </td>
            <td>Month</td>
            <td>Savings</td>
            <td class="notedit">Month</td>
            <td class="notedit"><a class="modify" data-toggle="modal" data-target="#landscapeModal">修 改</a></td>
            <!-- 删除按钮 -->
            <td class="del-col noedit">
              <a href="javascript:void(0);" class="delBtn">删除</a>
            </td>
          </tr>
          </tbody>
        </table>
        <!-- 模态框（Modal）横向教研项目界面 -->
        <div class="modal fade" id="landscapeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  横向教研项目新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    横向项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    到账经费：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">确定</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 编写规划教材、教材获奖-提示信息栏 -->
        <div class="msgs">
          <div class="subtitle">编写规划教材、教材获奖</div>
          <div class="workload">工作量小计<span>sss</span></div>
          <button type="button" id="save" data-toggle="modal" data-target="#award">添加</button>
        </div>
        <!-- 模态框（Modal）编写规划教材、教材获奖界面 -->
        <div class="modal fade" id="award" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  编写规划教材、教材获奖新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    教材名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    教材级别：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">添加</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 表格数据 -->
        <table class="table table-bordered edtitable">
          <thead>
            <tr>
              <td>教材名称</td>
              <td>教材级别</td>
              <td>项目排名</td>
              <td>项目总人数</td>
              <td>工作量</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Month</td>
              <td class="notedit">
                <select name="textbooklevel">
                  <option value="Nationalplanning">国家级规划教材</option>
                  <option value="provincialplanning">省级规划教材</option>
                  <option value="NationalA">国家级教材一等奖</option>
                  <option value="NationalB">国家级教材二等奖</option>
                  <option value="NationalC">国家级教材三等奖</option>
                  <option value="provincialA">省级教材一等奖</option>
                  <option value="provincialB">省级教材二等奖</option>
                  <option value="provincialC">省级教材三等奖</option>
                </select>
              </td>
              <td>Month</td>
              <td>Savings</td>
              <td class="notedit">Month</td>
              <td class="notedit"><a class="modify" data-toggle="modal" data-target="#materialModal">修 改</a></td>
              <!-- 删除按钮 -->
              <td class="del-col noedit">
                <a href="javascript:void(0);" class="delBtn">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 模态框（Modal）编写规划教材、教材获奖界面 -->
        <div class="modal fade" id="materialModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  编写规划教材、教材获奖新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    教材名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    教材级别：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">确定</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 教学改革工作量-提示信息栏 -->
        <div class="msgs">
          <div class="subtitle">教学改革工作量</div>
          <div class="workload">工作量小计<span>sss</span></div>
          <button type="button" id="save" data-toggle="modal" data-target="#teachingReform">添加</button>
        </div>
        <!-- 模态框（Modal）登陆界面 -->
        <div class="modal fade" id="teachingReform" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  教学改革工作量新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    立项级别：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">添加</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- 表格数据 -->
        <table class="table table-bordered edtitable">
          <thead>
            <tr>
              <td>项目名称</td>
              <td>立项级别</td>
              <td>项目排名</td>
              <td>项目总人数</td>
              <td>工作量</td>
              <td colspan="2">操作</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Month</td>
              <td class="notedit">
                <select name="approvallevel">
                  <option value="provincial">省级</option>
                  <option value="schoolfocus">校级重点</option>
                  <option value="generalproject">一般项目</option>
                </select>
              </td>
              <td>Month</td>
              <td>Savings</td>
              <td class="notedit">Month</td>
              <td class="notedit"><a class="modify" data-toggle="modal" data-target="#reformModal">修 改</a></td>
              <!-- 删除按钮 -->
              <td class="del-col noedit">
                <a href="javascript:void(0);" class="delBtn">删除</a>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- 模态框（Modal）教学改革工作量界面 -->
        <div class="modal fade" id="reformModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  &times;
                </button>
                <h5 class="modal-title" id="myModalLabel" style="text-align: center;">
                  教学改革工作量新增
                </h5>
              </div>
              <div class="modal-body">
                <form action="">
                  <div>
                    项目名称：<input type="text" class="form-control-1 class-name" placeholder="" />
                  </div>
                  <div>
                    立项级别：<select name="competitionform" class="form-control-1">
                      <option value="lecture">讲课</option>
                      <option value="Courseware">课件</option>
                      <option value="microlesson">微课</option>
                    </select>
                  </div>
                  <div>
                    项目排名：<input type="text" class="form-control-1 class-number" placeholder="" />
                  </div>
                  <div>
                    项目总人数：<input type="text" class="form-control-1" placeholder="" />
                  </div>
                  <div class="btn-add">
                    <button type="button" id="add">确定</button>
                    <button type="button" id="cancel" data-dismiss="modal">取消</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script language="javascript">
    var tabProduct = document.getElementById("tabProduct");
    // 设置表格可编辑
    // 可一次设置多个，例如：EditTables(tb1,tb2,tb2,......)
    EditTables(tabProduct);
  </script>
  <script src="" async defer></script>
</body>

</html>