<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jplus.mapper.CheckgzlMapper">
    <select id="getYxByGh" resultType="String">
        SELECT yxmc FROM yxbm WHERE yxbm = (SELECT yxbm FROM users WHERE gh = #{gh})
    </select>

    <select id="getAllGhAndUname" resultType="org.jplus.pojo.Users">
        SELECT gh,uname FROM users WHERE yxbm = (SELECT yxbm FROM users WHERE gh = #{gh})
     </select>

    <select id="getAllJbxx" resultType="org.jplus.pojo.basisInfo.Jbxx">
        SELECT zwbm,edgzl FROM jbxx WHERE gh = #{gh}
    </select>

    <select id="getZwByZwbm" resultType="String">
        SELECT zwmc FROM zwbm WHERE zwbm = #{zwbm}
    </select>

    <select id="getBksSumGzl" resultType="float">
        SELECT SUM(edgzl + jxgzl + bkssjjx.gzl + zlgc.gzl + jxcg.gzl + hxxm.gzl
          + zxxm.gzl + jc.gzl + jxgg.gzl + zdxsjs.gzl + jsjs.gzl + zdxslw.gzl +
          ddgzl + qtgzl) AS "sumgzl"
        FROM
          jbxx,bksktjx,bkssjjx,zlgc,jxcg,hxxm,zxxm,jc,jxgg,zdxsjs,jsjs,zdxslw,qtjxgz
        WHERE
          jbxx.gh = bksktjx.gh = bkssjjx .gh = zlgc.gh = jxcg.gh =
          hxxm .gh = zxxm.gh = jc.gh = jxgg.gh = zdxsjs.gh = jsjs.gh = zdxslw.gh =
          qtjxgz.gh = #{gh}
    </select>

    <select id="getYjsSumGzl" resultType="float">
       SELECT SUM(yjsktjx.gzl + jbjsyxkjs.gzl + rcgzl + yjssjjx.gzl + yjsjyxm.gzl +
            yjshxxm.gzl + zdsslw.gzl + yjsqtjx.gzl) AS "sumgzl"
        FROM
            yjsktjx,jbjsyxkjs,yjssjjx,yjsjyxm,yjshxxm,zdsslw,yjsqtjx
       WHERE
            yjsktjx.gh = jbjsyxkjs.gh = yjssjjx.gh = yjsjyxm.gh = yjshxxm.gh =
            zdsslw.gh = yjsqtjx.gh = #{gh}

    </select>

    <select id="getTjztAndShzt" resultType="org.jplus.pojo.Tjzt.Tjzt">
        SELECT tjzt,shzt from tjzt  WHERE gh = #{gh}
    </select>

</mapper>