<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jplus.mapper.JSJSMapper">

    <select id="getGzl" resultType="java.lang.Integer">
        select gdgzl from jsdj WHERE jsdjbm=#{teacherCompetitioncategory};
    </select>

    <select id="getTeacherCompetitionList" resultType="org.jplus.pojo.JSJS">
        select jsjsid, jsmc, jsdjbm, jsxsbm, gzl from jsjs WHERE gh=#{gh} AND nd=${nd};
    </select>

    <insert id="addJSJS" parameterType="org.jplus.pojo.JSJS">
        INSERT into jsjs VALUES (0, #{gh}, #{nd}, #{jsmc}, #{jsdjbm}, #{jsxsbm}, #{gzl});
    </insert>

    <insert id="addZDXSLW" parameterType="org.jplus.pojo.ZDXSLW">
        INSERT into zdxslw VALUES (0, #{gh}, #{nd}, #{sylwrs}, #{xylwrs}, #{gzl});
    </insert>

    <select id="getAllGzl" resultType="java.lang.Float">
        select sum(gzl) from jsjs WHERE gh=#{gh} AND nd=${nd};
    </select>

    <select id="getAllLwGzl" resultType="java.lang.Float">
        select sum(gzl) from zdxslw WHERE gh=#{gh} AND nd=${nd};
    </select>

    <delete id="remove">
        DELETE FROM jsjs WHERE jsjsid=#{id};
    </delete>

    <update id="updateZDXSLW" parameterType="org.jplus.pojo.ZDXSLW">
        UPDATE zdxslw SET sylwrs=#{sylwrs} , xylwrs=#{xylwrs} , gzl=#{gzl};
    </update>
</mapper>