<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jplus.mapper.QTJXGZMapper">

    <insert id="addQTJXGZ" parameterType="org.jplus.pojo.undergraduateCompatitonAndOther.QTJXGZ">
        INSERT into qtjxgz VALUES (0, #{gh}, #{nd}, #{ddgzl}, #{bfxsrs},#{zdqnjsrs}, #{xdrcpyfa}, #{kcdgms}, #{sydgms}, #{qtgzl});
    </insert>

    <select id="isOnlyForOneYear" resultType="java.lang.Integer">
        select count(*) from qtjxgz WHERE gh=#{gh} AND nd=#{nd};
    </select>

    <select id="getAllQtGzl" resultType="java.lang.Float">
        select qtgzl from qtjxgz WHERE gh=#{gh} AND nd=#{nd};
    </select>

    <select id="findQTJXGZByGhAndYear" resultType="org.jplus.pojo.undergraduateCompatitonAndOther.QTJXGZ">
        select * from qtjxgz WHERE gh=#{gh} AND nd=#{nd};
    </select>

    <update id="updateQTJXGZ" parameterType="org.jplus.pojo.undergraduateCompatitonAndOther.QTJXGZ">
        UPDATE qtjxgz SET ddgzl=#{ddgzl} , bfxsrs=#{bfxsrs} , zdqnjsrs=#{zdqnjsrs} , xdrcpyfa=#{xdrcpyfa} , kcdgms=#{kcdgms}
        , sydgms=#{sydgms} , qtgzl=#{qtgzl};
    </update>
</mapper>