<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.jplus.mapper.TjztMapper">

    <select id="getTjzt" resultType="org.jplus.pojo.Tjzt.Tjzt">
        select
        tijzid,
        gh,
        tjzt,
        tjsj,
        shzt,
        jysshrxm,
        jysshsj,
        yxshrxm,
        yxshsj,
        jwcshrxm,
        jwcshsj
        from `tjzt`
        where gh = #{gh}
    </select>
    <insert id="addTjzt">
        insert into
        `tjzt`(gh,tjzt,shzt)
        values
        (#{gh},#{tjzt},#{shzt})
    </insert>
    <update id="updateTjzt">
        update tjzt set
        tjzt = 1,
        tjsj = #{tjsj,jdbcType=DATE}
        where gh=#{gh}
    </update>
    <select id="insertTJB" statementType="CALLABLE">
        CALL proc_qxtj(#{param1},#{param2} )
    </select>
</mapper>