<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jplus.mapper.YJSQTJXMapper">

    <insert id="addYJSQTJX" parameterType="org.jplus.pojo.masterCompartitionAndOther.YJSQTJX">
        INSERT into yjsqtjx VALUES (0, #{gh}, #{nd}, #{jxddgzl}, #{mtfs}, #{stfs}, #{jdts}, #{fsmskg}, #{fsjkcs}, #{yjfs}, #{gzl});
    </insert>

    <select id="getAllQtGzl" resultType="java.lang.Float">
        select sum(gzl) from yjsqtjx WHERE gh=#{gh} AND nd=#{nd};
    </select>

    <select id="findYJSQTJXByGhAndYear" resultType="org.jplus.pojo.masterCompartitionAndOther.YJSQTJX">
        select * from yjsqtjx WHERE gh=#{gh} AND nd=#{nd};
    </select>

    <select id="isOnlyForOneYear" resultType="java.lang.Integer">
        select count(*) from yjsqtjx WHERE gh=#{gh} AND nd=#{nd};
    </select>

    <update id="updateYJSQTJX" parameterType="org.jplus.pojo.masterCompartitionAndOther.YJSQTJX">
        UPDATE yjsqtjx SET jxddgzl=#{jxddgzl} , mtfs=#{mtfs} , stfs=#{stfs} , jdts=#{jdts} , fsmskg=#{fsmskg}
        , fsjkcs=#{fsjkcs} , yjfs=#{yjfs} , gzl=#{gzl};
    </update>
</mapper>