<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.jplus.mapper.ZDXSJSMapper">

    <insert id="addZDXSJS" parameterType="org.jplus.pojo.ZDXSJS">
        INSERT into zdxsjs VALUES (0, #{gh}, #{nd}, #{jsmc}, #{jslbbm}, #{jsjbbm}, #{zdxsrs}, #{jsxscc}, #{gzl});
    </insert>

    <!--<select id="getStudentCompetitionList" resultType="org.jplus.pojo.ZDXSJS">
        select xsjsid, jsmc, jslbbm, jsjbbm, zdxsrs, gzl from zdxsjs WHERE jsxscc=1 AND gh=#{gh} AND nd=#{nd};
    </select>-->

    <select id="getStudentCompetitionList" resultType="org.jplus.pojo.queryVo.ZdxsjsVo">
        select xsjsid, jsmc, jslbbm, jsjbbm, zdxsrs, gzl from zdxsjs WHERE jsxscc=1 AND gh=#{gh} AND nd=#{nd};
    </select>

    <!--<select id="getStudentCompetitionList2" resultType="org.jplus.pojo.ZDXSJS">
        select xsjsid, jsmc, jslbbm, jsjbbm, zdxsrs, gzl from zdxsjs WHERE jsxscc=2 AND gh=#{gh} AND nd=#{nd};
    </select>-->

    <select id="getStudentCompetitionList2" resultType="org.jplus.pojo.queryVo.ZdxsjsVo">
        select xsjsid, jsmc, jslbbm, jsjbbm, zdxsrs, gzl from zdxsjs WHERE jsxscc=2 AND gh=#{gh} AND nd=#{nd};
    </select>

    <select id="getGzl" resultType="java.lang.Float">
        select gzl from zdxsjsgzl WHERE lbbm=#{competition} AND jsjb=#{contestLevel};
    </select>

    <select id="getAllGzl" resultType="java.lang.Float">
        select sum(gzl) from zdxsjs WHERE jsxscc=1 AND gh=#{gh} AND nd=#{nd};
    </select>

    <select id="getAllGzl2" resultType="java.lang.Float">
        select sum(gzl) from zdxsjs WHERE jsxscc=2 AND gh=#{gh} AND nd=#{nd};
    </select>

    <delete id="remove" >
        DELETE FROM zdxsjs WHERE xsjsid=#{id};
    </delete>

    <select id="findZDXSLWByGhAndYear" resultType="org.jplus.pojo.ZDXSLW">
        select * from zdxslw WHERE gh=#{gh} AND nd=#{nd};
    </select>

    <select id="isOnlyForOneYear" resultType="java.lang.Integer">
        select count(*) from zdxslw WHERE gh=#{gh} AND nd=#{nd};
    </select>

</mapper>